{% extends 'header.html' %}
{% load static %}

{% block container %}

      <div class="terms-conditions">
         <div class="terms-title">
            <div class="container">
               <div class="row">
                  <ol class="breadcrumb">
                     <li>Admin Login</li>
                     <li class="active">Add Paper Type</li>
                  </ol>
               </div>
            </div>
         </div>
       <div class="container">
         <div class="row">
            <div class="column">
               <div class="w3-container w3-blue" style="padding-top:10px;padding-bottom:10px;margin-bottom:20px;border-radius:10px;font-size:5px;">
                  <h2 style="font-size:25px;">Add Paper Type</h2>
               </div>
               <form class="w3-container w3-light-grey" style="padding:20px;border-radius:10px;" action="/savepapertype/" method="POST">

                  <label style="margin-bottom:15px;font-size:20px;color:green;">{{ msg|safe }}</label>

                  <input style="margin-bottom:20px;border-radius:10px;" class="w3-input w3-border-0" name="name" placeholder="Paper Type Name" type="text">

                  <input type="submit" value="Add Paper Type" class="w3-button w3-blue w3-hover-black" style="font-size:20px;border-radius:20px;">
               </form>
            </div>
            <div class="column" style="margin-top:20px;">
               <table class="w3-table-all w3-hoverable" style="margin-top:20px;">
                 <tr class="w3-black">
                   <th>Paper ID</th>
                   <th>Paper Name</th>
                   <th>Delete Paper Type</th>
                 </tr>
                 {% for x in data %}
                 <tr>
                   <td>{{ x.Paper_ID|safe }}</td>
                   <td>{{ x.Paper_Name|safe }}</td>
                   <td>{% csrf_token %}
                     <form action="/deletepapertype/" method="POST">
                       <input type="hidden" name="delete" value="{{ x.Paper_ID|safe }}">
                       <button type="submit" class="w3-button w3-red w3-hover-black" style="font-size:15px;border-radius:20px;">Delete</button>
                     </form></td>
                 </tr>
                 {% endfor %}
               </table>
            </div>
         </div>

      </div>  
      </div>
{% endblock container %}



{% block footer %}
<script src="{% static 'js/custom.js' %}"></script>

{% endblock footer %}