{% extends 'header.html' %}
{% load static %}


{% block container %}

      <!-- Modal -->
      
         
      

      <div class="terms-conditions">
         <div class="terms-title">
            <div class="container">
               <div class="row">
                  <ol class="breadcrumb">

                     <li class="active">Admin Login</li>
                     <li>Add Product</li>

                  </ol>
               </div>
            </div>
         </div>
       <div class="container">
         <div class="row">
            <div class="column">
               <form class="w3-container w3-light-grey" style="padding:20px;border-radius:10px;" action="/saveproducts/" method="POST">

                  <label style="margin-bottom:15px;font-size:20px;color:green;">{{ msg|safe }}</label>
                  
                  <input style="margin-bottom:20px;border-radius:10px;" class="w3-input w3-border-0" placeholder="Name" name="name" type="text" required>

                  <select style="margin-bottom:20px;border-radius:10px;" class="w3-input w3-border-0" name="ptype" required>
                     <option disabled="disabled" selected="selected" >Select Paper Type</option>
                     {% for x in data %}
                        <option value="{{ x.Paper_Name|safe }}">{{ x.Paper_Name|safe }}</option>
                     {% endfor %}
                  </select>

                  <select style="margin-bottom:20px;border-radius:10px;" class="w3-input w3-border-0" name="category" required>
                     <option disabled="disabled" selected="selected" >Select Product Category</option>
                     <option value="Business Cards">Business Cards</option>
                     <option value="Office Stationary">Office Stationary</option>
                     <option value="Marketing Tool">Marketing Tool</option>
                     <option value="Doctor Tools">Doctoor Tools</option>
                     <option value="Invitation Cards">Invitation Cards</option>
                     <option value="Apparels/Gifts">Apparels/Gifts</option>
                     <option value="Visiting Cards">Visiting Cards</option>

                     <option value="Letterhead">Letterhead</option>
                     <option value="EnvelopesA4">Envelopes A4</option>
                     <option value="Envelopes10">Envelopes #10</option>
                     <option value="Letterpads">Letterpads</option>
                     <option value="Folders">Folders</option>
                     <option value="Files">Files</option>
                     <option value="Stamps">Stamps</option>

                     <option value="Notebooks">Notebooks</option>
                     <option value="Flyers">Flyers</option>
                     <option value="Brochures">Brochures</option>
                     <option value="Poster">Poster</option>
                     <option value="Banners">Banners</option>
                     <option value="Standers">Standers</option>
                     <option value="Tent Cards">Tent Cards</option>
                     <option value="Documents Pricing">Documents Pricing</option>
                     <option value="Certificares">Certificares</option>

                     <option value="Vouchers">Vouchers</option>
                     <option value="Corporates Gifting">Corporates Gifting</option>
                     <option value="Gift Bags">Gift Bags</option>
                     <option value="Gift Boxes">Gift Boxess</option>
                     <option value="Calendars">Calendars</option>
                     <option value="Diaries">Diaries</option>
                     <option value="Coasters">Coasters</option>


                     <option value="Mugs">Mugs</option>
                     <option value="Engraved Pens">Engraved Pens</option>
                     <option value="Plastic Pens">Plastic Pens</option>
                     <option value="Lanyards">Lanyards</option>
                     <option value="Canvas">Canvas</option>
                     <option value="Banners">Banners</option>
                     <option value="Photo Frames">Photo Frames</option>
                     <option value="Polo T-shirt">Polo T-shirt</option>
                  </select>

                  <input style="margin-bottom:20px;border-radius:10px;" class="w3-input w3-border-0" placeholder="Thickness" type="text" name="thickness" required>

                  <select style="margin-bottom:20px;border-radius:10px;" class="w3-input w3-border-0" name="lamination" required>
                     <option disabled="disabled" selected="selected" >Select Lamination</option>
                     <option value="Gloss">Gloss</option>
                     <option value="Met">Met</option>
                     <option value="No Lamination">No Lamination</option>
                  </select>

                  <input style="margin-bottom:20px;border-radius:10px;" class="w3-input w3-border-0" placeholder="Quantity" type="number" name="quantity" required>

                  <select style="margin-bottom:20px;border-radius:10px;" class="w3-input w3-border-0" name="printside" required>
                     <option disabled="disabled" selected="selected" >Select Print Sides</option>
                     <option value="Both Sides">Both Sides</option>
                     <option value="Single Sides">Single Side</option>
                  </select>

                  <select style="margin-bottom:20px;border-radius:10px;" class="w3-input w3-border-0" name="color" required>
                     <option disabled="disabled" selected="selected" >Select Color</option>
                     <option value="Multicolor">Multicolor</option>
                     <option value="Singlecolor">Singlecolor</option>
                  </select>

                  <input style="margin-bottom:20px;border-radius:10px;" class="w3-input w3-border-0" placeholder="Paper Size in Height X Width Format" type="text" name="size" required>

                  <input style="margin-bottom:20px;border-radius:10px;" class="w3-input w3-border-0" placeholder="Price in (Rupees)" type="number" name="price" required>

                  <input type="submit" value="Add Product" class="w3-button w3-blue w3-hover-black" style="font-size:20px;border-radius:20px;">
               </form>
            </div>
            <div class="column" style="margin-top:20px;">
               <label style="margin-bottom:15px;font-size:20px;color:green;">Active Products List</label>
               <table class="w3-table-all w3-hoverable" style="margin-top:20px;">
                 <tr class="w3-black">
                   <th>ID</th>
                   <th>Name</th>
                   <th>Paper Type</th>
                   <th>Category</th>
                   <th>Thickness</th>
                   <th>Lamination</th>
                   <th>Quantity</th>
                   <th>Print Sides</th>
                   <th>Color</th>
                   <th>Size</th>
                   <th>Price</th>
                   <th>Status</th>
                   <th>Remove</th>
                 </tr>
                 {% for x in adata %}
                 <tr>
                   <td>{{ x.Product_ID|safe }}</td>
                   <td>{{ x.Product_Name|safe }}</td>
                   <td>{{ x.Product_Paper_Type|safe }}</td>
                   <td>{{ x.Product_Category|safe }}</td>
                   <td>{{ x.Product_Thickness|safe }}</td>
                   <td>{{ x.Product_Lamination|safe }}</td>
                   <td>{{ x.Product_Quantity|safe }}</td>
                   <td>{{ x.Product_Print_Sides|safe }}</td>
                   <td>{{ x.Product_Color|safe }}</td>
                   <td>{{ x.Product_Size|safe }}</td>
                   <td>{{ x.Product_Price|safe }}</td>
                   <td>
                     <form action="/deactiveproducts/" method="POST">
                       <input type="hidden" name="delete" value="{{ x.Product_ID|safe }}">
                       <button type="submit" class="w3-button w3-green w3-hover-black" style="font-size:15px;border-radius:20px;">{{ x.Product_Status|safe }}</button>
                     </form>
                  </td>
                  <td>
                     <form action="/deleteproducts/" method="POST">
                       <input type="hidden" name="delete" value="{{ x.Product_ID|safe }}">
                       <button type="submit" class="w3-button w3-red w3-hover-black" style="font-size:15px;border-radius:20px;">Delete</button>
                     </form>
                  </td>
                 </tr>  
                 {% endfor %}
               </table>
            </div>
            <div class="column" style="margin-top:20px;">
               <label style="margin-bottom:15px;font-size:20px;color:green;">Deactive Products List</label>
               <table class="w3-table-all w3-hoverable" style="margin-top:20px;">
                 <tr class="w3-black">
                   <th>ID</th>
                   <th>Name</th>
                   <th>Paper Type</th>
                   <th>Category</th>
                   <th>Thickness</th>
                   <th>Lamination</th>
                   <th>Quantity</th>
                   <th>Print Sides</th>
                   <th>Color</th>
                   <th>Size</th>
                   <th>Price</th>
                   <th>Status</th>
                   <th>Remove</th>
                 </tr>
                 {% for x in ddata %}
                 <tr>
                   <td>{{ x.Product_ID|safe }}</td>
                   <td>{{ x.Product_Name|safe }}</td>
                   <td>{{ x.Product_Paper_Type|safe }}</td>
                   <td>{{ x.Product_Category|safe }}</td>
                   <td>{{ x.Product_Thickness|safe }}</td>
                   <td>{{ x.Product_Lamination|safe }}</td>
                   <td>{{ x.Product_Quantity|safe }}</td>
                   <td>{{ x.Product_Print_Sides|safe }}</td>
                   <td>{{ x.Product_Color|safe }}</td>
                   <td>{{ x.Product_Size|safe }}</td>
                   <td>{{ x.Product_Price|safe }}</td>
                   <td>
                     <form action="/deactiveproducts/" method="POST">
                       <input type="hidden" name="delete" value="{{ x.Product_ID|safe }}">
                       <button type="submit" class="w3-button w3-orange w3-hover-black" style="font-size:15px;border-radius:20px;">{{ x.Product_Status|safe }}</button>
                     </form>
                  </td>
                  <td>
                     <form action="/deleteproducts/" method="POST">
                       <input type="hidden" name="delete" value="{{ x.Product_ID|safe }}">
                       <button type="submit" class="w3-button w3-red w3-hover-black" style="font-size:15px;border-radius:20px;">Delete</button>
                     </form>
                  </td>
                 </tr>  
                 {% endfor %}
               </table>

            </div>
         </div>

      </div>  
      </div>
{% endblock container %}



{% block footer %}

<script src="{% static 'js/custom.js' %}"></script>
{% endblock footer %}