{% extends 'header.html' %}
{% load static %}


{% block container %}

      <!-- Modal -->
      
         
      

      <div class="terms-conditions">
         <div class="terms-title">
            <div class="container">
               <div class="row">
                  <ol class="breadcrumb">

                     <li class="active">Admin Login</li>
                     <li>Add Product</li>

                  </ol>
               </div>
            </div>
         </div>
       <div class="container">
         <div class="row">
            <div class="column">
              <h2> Add Visiting Card type</h2>
              <form method="post" action="/addvisitingdesign/" style="float: right;">{% csrf_token %}
                <input type="submit" value="Add Visiting card Design " class="w3-button w3-blue w3-hover-black" style="font-size:20px;border-radius:20px;">
              </form>
               <form class="w3-container w3-light-grey" style="padding:20px;border-radius:10px;" action="/saveproducts/" method="POST">

                  <label style="margin-bottom:15px;font-size:20px;color:green;">{{ msg|safe }}</label>
                  
                  <input style="margin-bottom:20px;border-radius:10px;" class="w3-input w3-border-0" placeholder="Visiting Card Name " name="name" type="text" required>

                  <select style="margin-bottom:20px;border-radius:10px;" class="w3-input w3-border-0" name="ptype" required>
                     <option disabled="disabled" selected="selected" >Select Paper Quality</option>
                     {% for x in data %}
                        <option value="{{ x.Paper_Name|safe }}">{{ x.Paper_Name|safe }}</option>
                     {% endfor %}
                  </select>

                  <select style="margin-bottom:20px;border-radius:10px;" class="w3-input w3-border-0" name="color" required>
                     <option disabled="disabled" selected="selected" >Select Color</option>
                     <option value="Multicolor">Multicolor</option>
                     <option value="Singlecolor">Singlecolor</option>
                  </select>

                  <select style="margin-bottom:20px;border-radius:10px;" class="w3-input w3-border-0" name="lamination" required>
                     <option disabled="disabled" selected="selected" >Select Lamination</option>
                     <option value="Gloss">Glossy</option>
                     <option value="Met">Matte</option>
                     <option value="No Lamination">No Lamination</option>
                  </select>

                  <input style="margin-bottom:20px;border-radius:10px;" class="w3-input w3-border-0" placeholder="weight of papaer" type="text" name="thickness" required>

                  <input style="margin-bottom:20px;border-radius:10px;" class="w3-input w3-border-0" placeholder="Dimensions" type="text" name="size" required>

                  <input style="margin-bottom:20px;border-radius:10px;" class="w3-input w3-border-0" placeholder="Dimensions" type="hidden" name="card" value="Business Cards">

                  <input style="margin-bottom:20px;border-radius:10px;" class="w3-input w3-border-0" placeholder=" enter minimum Quantity" type="number" name="quantity" required>

                  <input style="margin-bottom:20px;border-radius:10px;" class="w3-input w3-border-0" placeholder="Price of minimum qauntity  (Rupees)" type="number" name="price" required>

                  <input type="submit" value="Add Product" class="w3-button w3-blue w3-hover-black" style="font-size:20px;border-radius:20px;">

               </form>

            </div>
            <div class="column" style="margin-top:20px;">
               <label style="margin-bottom:15px;font-size:20px;color:green;">Active Products List</label>
               <table class="w3-table-all w3-hoverable" style="margin-top:20px;">
                 <tr class="w3-black">
                   <th>ID</th>
                   <th>Name</th>
                   <th>Paper Type</th>
                   
                   <th>weight</th>
                   <th>Lamination</th>
                   <th>Quantity</th>
                   
                   <th>Color</th>
                   <th>Size</th>
                   <th>Price</th>
                   <th>Status</th>
                   <th>Remove</th>
                 </tr>
                 {% for x in adata %}
                 <tr>
                   <td>{{ x.Product_ID|safe }}</td>
                   <td>{{ x.Product_Name|safe }}</td>
                   <td>{{ x.Product_Paper_Type|safe }}</td>
                  
                   <td>{{ x.Product_Thickness|safe }}</td>
                   <td>{{ x.Product_Lamination|safe }}</td>
                   <td>{{ x.Product_Quantity|safe }}</td>
                   
                   <td>{{ x.Product_Color|safe }}</td>
                   <td>{{ x.Product_Size|safe }}</td>
                   <td>{{ x.Product_Price|safe }}</td>
                   <td>
                     <form action="/deactiveproducts/" method="POST">
                       <input type="hidden" name="delete" value="{{ x.Product_ID|safe }}">
                       <button type="submit" class="w3-button w3-green w3-hover-black" style="font-size:15px;border-radius:20px;">{{ x.Product_Status|safe }}</button>
                     </form>
                  </td>
                  <td>
                     <form action="/deleteproducts/" method="POST">
                       <input type="hidden" name="delete" value="{{ x.Product_ID|safe }}">
                       <button type="submit" class="w3-button w3-red w3-hover-black" style="font-size:15px;border-radius:20px;">Delete</button>
                     </form>
                  </td>
                 </tr>  
                 {% endfor %}
               </table>
            </div>
            <div class="column" style="margin-top:20px;">
               <label style="margin-bottom:15px;font-size:20px;color:green;">Deactive Products List</label>
               <table class="w3-table-all w3-hoverable" style="margin-top:20px;">
                 <tr class="w3-black">
                   <th>ID</th>
                   <th>Name</th>
                   <th>Paper Type</th>
                   <th>Category</th>
                   <th>Thickness</th>
                   <th>Lamination</th>
                   <th>Quantity</th>
                   <th>Print Sides</th>
                   <th>Color</th>
                   <th>Size</th>
                   <th>Price</th>
                   <th>Status</th>
                   <th>Remove</th>
                 </tr>
                 {% for x in ddata %}
                 <tr>
                   <td>{{ x.Product_ID|safe }}</td>
                   <td>{{ x.Product_Name|safe }}</td>
                   <td>{{ x.Product_Paper_Type|safe }}</td>
                   <td>{{ x.Product_Category|safe }}</td>
                   <td>{{ x.Product_Thickness|safe }}</td>
                   <td>{{ x.Product_Lamination|safe }}</td>
                   <td>{{ x.Product_Quantity|safe }}</td>
                   <td>{{ x.Product_Print_Sides|safe }}</td>
                   <td>{{ x.Product_Color|safe }}</td>
                   <td>{{ x.Product_Size|safe }}</td>
                   <td>{{ x.Product_Price|safe }}</td>
                   <td>
                     <form action="/deactiveproducts/" method="POST">
                       <input type="hidden" name="delete" value="{{ x.Product_ID|safe }}">
                       <button type="submit" class="w3-button w3-orange w3-hover-black" style="font-size:15px;border-radius:20px;">{{ x.Product_Status|safe }}</button>
                     </form>
                  </td>
                  <td>
                     <form action="/deleteproducts/" method="POST">
                       <input type="hidden" name="delete" value="{{ x.Product_ID|safe }}">
                       <button type="submit" class="w3-button w3-red w3-hover-black" style="font-size:15px;border-radius:20px;">Delete</button>
                     </form>
                  </td>
                 </tr>  
                 {% endfor %}
               </table>

            </div>
         </div>

      </div>  
      </div>
{% endblock container %}



{% block footer %}

<script src="{% static 'js/custom.js' %}"></script>
{% endblock footer %}