{% extends 'header.html' %}
{% load static %}


{% block container %}
      <div id="sidebar" class="top-nav">
         <ul id="sidebar-nav" class="sidebar-nav">
            <li>
               <form>
                  <input class="w3-button w3-blue w3-hover-black" style="font-size:20px;border-radius:20px;" type="submit" value="Back">
               </form>
            </li>
         </ul>
      </div>
      <div class="terms-conditions">
         <div class="terms-title">
            <div class="container">
               <div class="row">
                  <ol class="breadcrumb">
                     <li class="active">Admin Dashboard</li>
                  </ol>
               </div>
            </div>
         </div>
         <div class="container">
            <div class="w3-bar">
               <form action="/addproducts/" method="POST">
                  <input type="submit" value="Add Product" class="w3-button w3-blue w3-hover-black" style="width:100%;font-size:20px;border-radius:20px;">
               </form>

            

               <form action="/addpapertype/" method="POST">
                  <input type="submit" value="Add Paper Type" class="w3-button w3-blue w3-hover-black" style="width:100%;font-size:20px;border-radius:20px;margin-top:10px;">
               </form>
               <form action="/adddesigns/" method="POST">
                  <input type="submit" value="Add Product Image" class="w3-button w3-blue w3-hover-black" style="width:100%;font-size:20px;border-radius:20px;margin-top:10px;">
               </form>
               <form action="/resellerdata/" method="POST">
                  <input type="submit" value="Resellers Here" class="w3-button w3-red w3-hover-black" style="width:100%;font-size:20px;border-radius:20px;margin-top:10px;">
               </form>
<!--
               <a href="/adminorderdetail/"class="w3-button w3-blue w3-hover-black" style="width:100%;font-size:20px;border-radius:20px;margin-top:10px;">Order Detail</a>-->

               <form action="/adminorderdetails/" method="POST">
                  <input type="submit" value="Order Details Here" class="w3-button w3-blue w3-hover-black" style="width:100%;font-size:20px;border-radius:20px;margin-top:10px;">
               </form>

               <form action="/addtesti/" method="POST">{% csrf_token %}
                  <input type="submit" value="Add Testimonials" class="w3-button w3-blue w3-hover-black" style="width:100%;font-size:20px;border-radius:20px;margin-top:10px;">
               </form>
<!--
               <form action="/addbanner/" method="POST">{% csrf_token %}
                  <input type="submit" value="Add Banner" class="w3-button w3-blue w3-hover-black" style="width:100%;font-size:20px;border-radius:20px;margin-top:10px;">
               </form>-->

            </div>
         </div>
      </div>



{% endblock container %}



{% block footer %}
<script src="{% static 'js/custom.js' %}"></script>

{% endblock footer %}