{% extends 'header.html' %}
{% load static %}
<style>
.dropbtn {
  background-color: white;
  color: #636363;
  padding: 0px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: white}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: white;
}
</style>


{% block container %}

      <div class="modal fade lug" id="myModal" role="dialog">
         <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Choose from Wide Range of Categories</h4>
               </div>
               <div class="modal-body">
                  <ul>
                     <li class="w3-button w3-hover-blue" style="width:100%;font-size:15px;padding:10px;margin-bottom:10px;"><a href="/opencategory/?cname=Business Cards">Business Cards</a></li><br>
                     <li class="w3-button w3-hover-blue" style="width:100%;font-size:15px;padding:10px;margin-bottom:10px;"><a href="/opencategory/?cname=Office Stationary">Office Stationary</a></li><br>
                     <li class="w3-button w3-hover-blue" style="width:100%;font-size:15px;padding:10px;margin-bottom:10px;"><a href="/opencategory/?cname=Marketing Tool">Marketing Tool</a></li><br>
                     <li class="w3-button w3-hover-blue" style="width:100%;font-size:15px;padding:10px;margin-bottom:10px;"><a href="/opencategory/?cname=Marketing Tool">Doctoor Tools</a></li><br>
                     <li class="w3-button w3-hover-blue" style="width:100%;font-size:15px;padding:10px;margin-bottom:10px;"><a href="/opencategory/?cname=Invitation Cards">Invitation Cards</a></li><br>
                     <li class="w3-button w3-hover-blue" style="width:100%;font-size:15px;padding:10px;margin-bottom:10px;"><a href="/opencategory/?cname=Apparels/Gifts">Apparels/Gifts</a></li><br>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <!--/.mobile menu -->
      <div id="sidebar" class="top-nav">
         <ul id="sidebar-nav" class="sidebar-nav">
            <li><a href="/index/">Home</a></li>
            <li><a href="/gallerys/">Gallery</a></li>
            <li><a href="/allproductpage/">All Products</a></li>
             <li><a href="/opencategory/?cname=Business Cards">Business Card</a></li>
             <li><a href="/inquiryform/">Inquiry</a></li>&nbsp&nbsp
            <li><a href="/about/">About</a></li>
            {% if session == checksession  %}
            <li><a style="font-size:19px;padding-top:5px;padding-bottom:8px;" class="custom-b" href="/opencart/"><i class="fa fa-shopping-cart"></i> ({{ cartcount|safe }})</a></li>
            <li><a class="custom-b" href="/myuseraccount/">My Account</a></li>
            <li><a class="custom-b" href="/logout/">Logout</a></li>
          {% elif sessionre == checksessionre %}
            <li><a class="custom-b" href="/myuseraccount/">My Account</a></li>
            <li><a class="custom-b" href="/logout/">Logout</a></li>
         {% else %}
            <li><a href="/userlogin/">Login</a></li>
            <li><a class="custom-b" href="/userregistration/">Sign up</a></li>
         {% endif %}
         </ul>
      </div>      <div class="profile-box banner-p">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="profile-b">
                     <img style="height:400px;" src="{{ cimage|safe }}" alt="#" />
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="product-profile-box">
         <div class="container">
            <div class="row">
               <div class="col-md-2 col-sm-4 pr">
                  <div class="profile-pro-left">
                     <div class="left-profile-box-m">
                        <div class="pro-img">
                           <img src="{{ cpic|safe }}" alt="#" />
                        </div>
                        <div class="pof-text">
                           <h3>{{ cname|safe }}</h3>
                           <div class="check-box"></div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-10 col-sm-8">
                  <div class="profile-pro-right">
                     <div class="panel with-nav-tabs panel-default">
                        <div class="panel-heading clearfix">
                           <ul class="nav nav-tabs pull-left">
                              <li class="active"><a href="#tab1default" data-toggle="tab">Products <span>{{ clen|safe }}</span></a></li>
                           </ul>
                           <ul class="nav nav-tabs pull-right right-t">
                              <li class="dropdown">
                                 <a href="#" data-toggle="dropdown">Sort <span class="caret"></span></a>
                                 <ul class="dropdown-menu" role="menu">
                                    <li><a href="#tab4default" data-toggle="tab">Default 4</a></li>
                                 </ul>
                              </li>
                              <li><a href="#tab5default" data-toggle="tab"><i class="fa fa-sliders" aria-hidden="true"></i> Refine</a></li>
                           </ul>
                        </div>
                        <div class="panel-body">
                           <div class="tab-content">
                              <div class="tab-pane fade in active" id="tab1default">
                                    {% for x in data %}
                                    <a href="/productdetails/?cname={{ x.Product_ID|safe }}">
                                    <div class="col-md-4 col-sm-6">
                                       <div class="small-box-c">
                                          <div class="small-img-b">
                                             <img src="{{ x.image|safe }}" alt="#" />
                                          </div>
                                          <div class="dit-t clearfix">
                                             <div class="left-ti">
                                                <h4 style="font-size:20px;">{{ x.Product_Name|safe }}</h4>
                                                <p style="font-size:15px;">Size : <strong>{{ x.Product_Size|safe }}</strong></p>
                                                <p style="font-size:15px;">Quantity : <strong>{{ x.Product_Quantity|safe }}</strong></p>
                                             </div>
                                          </div>
                                          <a href="/productdetails/?cname={{ x.Product_ID|safe }}" class="w3-button w3-blue w3-hover-black" style="width:100%;font-size:15px;border-radius:5px;"><i class="fa fa-inr"></i>{{ x.Product_Price|safe }} </a>
                                          
                                       </div>
                                    </div>
                                    </a>
                                    {% endfor %}

                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
{% endblock container %}



{% block footer %}
<script src="{% static 'js/custom.js' %}"></script>

{% endblock footer %}