{% extends 'header.html' %}
{% load static %}

      <style>
.dropbtn {
  background-color: white;
  color: #636363;
  padding: 0px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: white}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: white;
}
</style>
{% block container %}
      <div class="modal fade lug" id="myModal" role="dialog">
         <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Choose from Wide Range of Categories</h4>
               </div>
               <div class="modal-body">
                  <ul>
                     <li class="w3-button w3-hover-blue" style="width:100%;font-size:15px;padding:10px;margin-bottom:10px;"><a href="/opencategory/?cname=Business Cards">Business Cards</a></li><br>
                     <li class="w3-button w3-hover-blue" style="width:100%;font-size:15px;padding:10px;margin-bottom:10px;"><a href="/opencategory/?cname=Office Stationary">Office Stationary</a></li><br>
                     <li class="w3-button w3-hover-blue" style="width:100%;font-size:15px;padding:10px;margin-bottom:10px;"><a href="/opencategory/?cname=Marketing Tool">Marketing Tool</a></li><br>
                     <li class="w3-button w3-hover-blue" style="width:100%;font-size:15px;padding:10px;margin-bottom:10px;"><a href="/opencategory/?cname=Marketing Tool">Doctoor Tools</a></li><br>
                     <li class="w3-button w3-hover-blue" style="width:100%;font-size:15px;padding:10px;margin-bottom:10px;"><a href="/opencategory/?cname=Invitation Cards">Invitation Cards</a></li><br>
                     <li class="w3-button w3-hover-blue" style="width:100%;font-size:15px;padding:10px;margin-bottom:10px;"><a href="/opencategory/?cname=Apparels/Gifts">Apparels/Gifts</a></li><br>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <!--/.mobile menu -->
       <!--/.mobile menu -->

      <div id="sidebar" class="top-nav">
      
         <ul id="sidebar-nav" class="sidebar-nav">
            <li><a href="/index/">Home</a></li>
                                 <li><a href="/gallerys/">Gallery</a></li>
                                 <li><a href="/allproductpage/">All Products</a></li>
                                 <li><a href="/opencategory/?cname=Business Cards">Business Card</a></li>
                                 <li><a href="/inquiryform/">Inquiry</a></li>



                                 {% if session == checksession  %}
                                    <li><a style="font-size:19px;padding-top:5px;padding-bottom:8px;" class="custom-b" href="/opencart/"><i class="fa fa-shopping-cart"></i> ({{ cartcount|safe }})</a></li>
                                    <li><a class="custom-b" href="/myuseraccount/">My Account</a></li>
                                    <li><a class="custom-b" href="/logout/">Logout</a></li>
                                  {% elif sessionre == checksessionre %}
                                    <li><a class="custom-b" href="/myuseraccount/">My Account</a></li>
                                    <li><a class="custom-b" href="/logout/">Logout</a></li>
                                 {% else %}
                                    
                                 


                                 <li >
                                   <h2 style="color:black;">Reseller</h2>
                                   
                                    <li><a   href="/resellerregistration/">Join as Reseller</a></li>
                                    <li>   <a href="/resellerlogin/">Login</a></li>
                                   
                                 </li>


                                 <li>
                                   <h2 style="color:black;">User</h2>
                                   
                                    <li><a href="/userlogin/">Login</a></li>
                                    <li><a class="custom-b" href="/userregistration/">Sign up</a></li>
                                
                                 </li>

                                 {% endif %}
         </ul>
      </div>

      
        <div class="row" style="margin-bottom:10vh;">

        {% for i in testi %}
            <div class="col-md-3 col-sm-3 wow fadeIn" >
              <div class="right-buyer" style="padding-left: 2em;
            padding-right: 2em;">
                <img  src="{{ i.pic }}" alt="Forest" style="width: 20em; height: 10em;">
                  <center>  <h4>{{ i.name }}</h4>
                    <div style="margin-top: 0px; padding-top: 0px;">{{ i.msg }}
                    </div>
                  </center>
               </div>
            </div>
        {% endfor %}

        </div>
{% endblock container %}



{% block footer %}
<script src="{% static 'js/custom.js' %}"></script>

{% endblock footer %}