{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Printsathi</title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!--enable mobile device-->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!--fontawesome css-->
      <link rel="stylesheet" href="{% static 'w3.css' %}">
      <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
      <!--bootstrap css-->
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <!--animate css-->
      <link rel="stylesheet" href="{% static 'css/animate-wow.css' %}">
      <!--main css-->
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/slick.min.css' %}">
      <!--responsive css-->
      <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

      <style>
.dropbtn {
  background-color: white;
  color: #636363;
  padding: 0px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: white}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: white;
}
</style>
   </head>
   <body>
   <!-- ###############################################################################################  -->

<section >
    <div id='popupmain' style="display: none; position: fixed;width: 0%;  z-index: 1001; float:right; height:0px; margin-top:55vh; margin-left:53vw">
      <div id="qq" style="width: 15%;margin-top: 20%;">
                <button  id='exit' onclick="document.getElementById('popupmain').style.display='none'" aria-hidden="true" 
                style=" 
    font-family: 'Nunito', sans-serif;
   
    text-transform: uppercase;
   
    
    color: #313133;
    background: #4dc47d;
    background: linear-gradient(90deg, red 0%, #f5f5f5 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px #f5f5f5;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    margin-left: 43vw;
    margin-top: 10px;
       " value="X">x</button>
                <img class="img-responsive" src="{% static 'images/logo.png' %}" style="width:45vw; height:30vh; background-color:gray;">
                <input type="checkbox" name="">
      </div>
      </div>
    </div>
  </section>


    <!-- ###############################################################################################  -->

      <header id="header" class="top-head">
         <!-- Static navbar -->
         <nav class="navbar navbar-default">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-md-4 col-sm-12 left-rs">
                     <div class="navbar-header">
                        <button type="button" id="top-menu" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"> 
                        <span class="sr-only">Toggle navigation</span> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                        </button>
                        <a href="\index\" class="navbar-brand"><img src="{% static 'images/logo.png' %}" style="width:200px;" alt="" /></a>
                     </div>
                  </div>
                  <div class="col-md-8 col-sm-12">
                     <div class="right-nav">
                        
                        

                        <div class="nav-b hidden-xs">
                           <div class="nav-box">
                              <ul>
                                 <li><a href="/index/">Home</a></li>
                                 <i class="ri-twitter-fill"></i>
                                 <li><a href="/index/">Gallery</a></li>
                                 <li><a href="/allproductpage/">All Products</a></li>
                                 <li><a href="/opencategory/?cname=Business Cards">Business Card</a></li>
                                 <li><a href="/index/">Inquiry</a></li>&nbsp&nbsp



                                 {% if session == checksession  %}
                                    <li><a style="font-size:19px;padding-top:5px;padding-bottom:8px;" class="custom-b" href="/opencart/"><i class="fa fa-shopping-cart"></i> ({{ cartcount|safe }})</a></li>
                                    <li><a class="custom-b" href="/myuseraccount/">My Account</a></li>
                                    <li><a class="custom-b" href="/logout/">Logout</a></li>
                                  {% elif sessionre == checksessionre %}
                                    <li><a class="custom-b" href="/myuseraccount/">My Account</a></li>
                                    <li><a class="custom-b" href="/logout/">Logout</a></li>
                                 {% else %}
                                    
                                 


                                 <li class="dropdown">
                                   <button class="dropbtn">Reseller</button>
                                   <div class="dropdown-content">
                                      <a   href="/resellerregistration/">Join as Reseller</a>
                                       <a href="/resellerlogin/">Login</a>
                                   </div>
                                 </li>&nbsp&nbsp&nbsp&nbsp


                                 <li class="dropdown">
                                   <button class="dropbtn">User</button>
                                   <div class="dropdown-content">
                                       <a href="/userlogin/">Login</a>
                                       <a class="custom-b" href="/userregistration/">Sign up</a>
                                     
                                   </div>
                                 </li>

                                 {% endif %}
                                 
                                
                      
                        

                              </ul>
                           </div>
                        </div>

                     </div>
                  </div>
               </div>
            </div>
            <!--/.container-fluid -->
         </nav>
      </header>
      <div class="modal fade lug" id="myModal" role="dialog">
         <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Choose from Wide Range of Categories</h4>
               </div>
               <div class="modal-body">
                  <ul>
                     <li class="w3-button w3-hover-blue" style="width:100%;font-size:15px;padding:10px;margin-bottom:10px;"><a href="/opencategory/?cname=Business Cards">Business Cards</a></li><br>
                     <li class="w3-button w3-hover-blue" style="width:100%;font-size:15px;padding:10px;margin-bottom:10px;"><a href="/opencategory/?cname=Office Stationary">Office Stationary</a></li><br>
                     <li class="w3-button w3-hover-blue" style="width:100%;font-size:15px;padding:10px;margin-bottom:10px;"><a href="/opencategory/?cname=Marketing Tool">Marketing Tool</a></li><br>
                     <li class="w3-button w3-hover-blue" style="width:100%;font-size:15px;padding:10px;margin-bottom:10px;"><a href="/opencategory/?cname=Doctoor Tools">Doctoor Tools</a></li><br>
                     <li class="w3-button w3-hover-blue" style="width:100%;font-size:15px;padding:10px;margin-bottom:10px;"><a href="/opencategory/?cname=Invitation Cards">Invitation Cards</a></li><br>
                     <li class="w3-button w3-hover-blue" style="width:100%;font-size:15px;padding:10px;margin-bottom:10px;"><a href="/opencategory/?cname=Apparels/Gifts">Apparels/Gifts</a></li><br>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <!--/.mobile menu -->
      <div id="sidebar" class="top-nav">
         <ul id="sidebar-nav" class="sidebar-nav">
            <li><a href="/index/">Home</a></li>
                                 <li><a href="/index/">Gallery</a></li>
                                 <li><a href="/allproductpage/">All Products</a></li>
                                 <li><a href="/opencategory/?cname=Business Cards">Business Card</a></li>
                                 <li><a href="/index/">Inquiry</a></li>



                                 {% if session == checksession  %}
                                    <li><a style="font-size:19px;padding-top:5px;padding-bottom:8px;" class="custom-b" href="/opencart/"><i class="fa fa-shopping-cart"></i> ({{ cartcount|safe }})</a></li>
                                    <li><a class="custom-b" href="/myuseraccount/">My Account</a></li>
                                    <li><a class="custom-b" href="/logout/">Logout</a></li>
                                  {% elif sessionre == checksessionre %}
                                    <li><a class="custom-b" href="/myuseraccount/">My Account</a></li>
                                    <li><a class="custom-b" href="/logout/">Logout</a></li>
                                 {% else %}
                                    
                                 


                                 <li >
                                   <h2 style="color:black;">Reseller</h2>
                                   
                                    <li><a   href="/resellerregistration/">Join as Reseller</a></l>
                                    <li>   <a href="/resellerlogin/">Login</a></li>
                                   
                                 </li>


                                 <li>
                                   <h2 style="color:black;">User</h2>
                                   
                                    <li><a href="/userlogin/">Login</a></li>
                                    <li><a class="custom-b" href="/userregistration/">Sign up</a></li>
                                
                                 </li>

                                 {% endif %}
         
      </div>
      <div class="container" style="width:100vw; margin-top:0vh;height:30em;">

  <div id="myCarousel" class="carousel slide" data-ride="carousel" style="height:30em;">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner"  style="height:30em;">
      <div class="item active">
        <img src="{% static 'images/d5.jpg' %}" alt="Los Angeles" style="width:100%; height:30em; ">
      </div>

      <div class="item">
        <img src="{% static 'images/d6.jpg' %}" alt="Chicago" style="width:100%; height:30em;">
      </div>
    
      <div class="item">
        <img src="{% static 'images/d1.jpg' %}" alt="New york" style="width:100%;height:30em;">
      </div>
      <div class="item">
        <img src="{% static 'images/d3.jpg' %}" alt="New york" style="width:100%;height:30em;">
      </div>
      <div class="item">
        <img src="{% static 'images/d2.jpg' %}" alt="New york" style="width:100%;height:30em;">
      </div>
      <div class="item">
        <img src="{% static 'images/d4.jpg' %}" alt="New york" style="width:100%;height:30em;">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
      <div class="cat-main-box" style="padding-bottom:0px;">

         <div class="container" style="align:center;">
            <div class="row panel-row" style="padding-top:10vh;  ">
               
               <a href="/opencategory/?cname=Business Cards">
               <div class="col-md-4 col-sm-6 wow fadeIn" style="margin-bottom:40px; margin-bottom:40px; width:300px; margin-right:5vw;" data-wow-delay="0.0s">
                  <div class="panel panel-default w3-hover-blue" style="box-shadow: 5px 5px 12px">
                     <div class="panel-body">
                        <center><img style="border-radius:10px; width:300px; height:200px;" src="{% static 'images/Visiting-Cards-BIG.jpg' %}" class="icon-small fadeIn" alt="" data-wow-delay="1000">
                        <h4>Business Cards</h4></center>
                     </div>
                  </div>
               </div>
               </a>

               <a href="/opencategory/?cname=Office Stationary">
               <div class="col-md-4 col-sm-6 wow fadeIn" style="margin-bottom:40px;width:300px; margin-right:6vw" data-wow-delay="0.0s">
                  <div class="panel panel-default w3-hover-red" style="box-shadow: 5px 5px 12px">
                     <div class="panel-body">
                        <center><img style="border-radius:10px;width:300px;height:200px;" src="{% static 'images/40307043-back-to-school-blackboard-with-pencilbox-and-school-equipment-on-table.jpg' %}" class="icon-small fadeIn" alt="" data-wow-delay="1000">
                        <h4>Office Stationary</h4></center>
                     </div>
                  </div>
               </div>
               </a>

               <a href="/opencategory/?cname=Marketing Tool">
               <div class="col-md-4 col-sm-6 wow fadeIn" style="margin-bottom:40px;width:300px; margin-right:3vw" data-wow-delay="0.0s">
                  <div class="panel panel-default w3-hover-green" style="box-shadow: 5px 5px 12px">
                     <div class="panel-body">
                        <center><img style="border-radius:10px;width:300px;height:200px;" src="{% static 'images/pexels-photo-313691-1024x768.jpeg' %}" class="icon-small fadeIn" alt="" data-wow-delay="1000">
                        <h4>Marketing Tool</h4></center>
                     </div>
                  </div>
               </div>
               </a>

            </div>

            </div>

         <div class="container">
            <div class="row panel-row">
               
               <a href="/opencategory/?cname=Doctoor Tools">
               <div class="col-md-4 col-sm-6 wow fadeIn" style="margin-bottom:40px;width:300px; margin-right:5vw;" data-wow-delay="0.0s">
                  <div class="panel panel-default w3-hover-orange" style="box-shadow: 5px 5px 12px">
                     <div class="panel-body">
                        <center><img style="border-radius:10px;width:300px;height:200px;" src="{% static 'images/download.jpg' %}" class="icon-small fadeIn" alt="" data-wow-delay="1000">
                        <h4>Doctoor Tools</h4></center>
                     </div>
                  </div>
               </div>
               </a>

               <a href="/opencategory/?cname=Invitation Cards">
               <div class="col-md-4 col-sm-6 wow fadeIn" style="margin-bottom:40px;width:300px; margin-right:5vw;" data-wow-delay="0.0s">
                  <div class="panel panel-default w3-hover-yellow" style="box-shadow: 5px 5px 12px">
                     <div class="panel-body">
                        <center><img style="border-radius:10px;width:300px;height:200px;" src="{% static 'images/47227_invitation-card-wedding-wallpapers-invitation-card-wedding_1600x1200_h.jpg' %}" class="icon-small fadeIn" alt="" data-wow-delay="1000">
                        <h4>Invitation Cards</h4></center>
                     </div>
                  </div>
               </div>
               </a>

               <a href="\opencategory\?cname=Apparels/Gifts">
               <div class="col-md-4 col-sm-6 wow fadeIn" style="margin-bottom:40px;width:300px; margin-right:3vw;" data-wow-delay="0.0s">
                  <div class="panel panel-default w3-hover-light-green" style="box-shadow: 5px 5px 12px">
                     <div class="panel-body">
                        <center><img style="border-radius:10px;width:300px;height:200px;" src="{% static 'images/pexels-photo-264787.jpeg' %}" class="icon-small fadeIn" alt="" data-wow-delay="1000">
                        <h4>Apparels / Gifts</h4></center>
                     </div>
                  </div>
               </div>
               </a>
            </div>
         </div>
      <div class="products" style="padding-top:0px;">
         <div class="main-products">
            <h2 style="font-size:30px;">OUR PRODUCTS</h2>
            <div class="product-slidr" >
               <div class="slider" ">
               {% for i in detail %}
                     <div >
                     <div class="prod-box" >
                        <div class="prod-i">
                           <img style="width:100%;height:150px;" src="{{ i.image|safe }}" alt="#" />
                        </div>
                        <div class="prod-dit clearfix">
                           <div class="dit-t clearfix">
                              <div class="left-ti">
                                 <h4>{{ i.Product_Name|safe }}</h4>
                                 <p><span>Catrgory :</span>{{ i.Product_Category|safe }}<br>
                                 <span>Quantity :</span>{{ i.Product_Quantity|safe }}</p>
                              </div>
                           </div>

                           <div class="dit-btn clearfix">
                              <a class="w3-button w3-blue w3-hover-black" style="width:100%;font-size:20px;border-radius:5px;"  href="/productdetails/?cname={{ i.Product_ID|safe }}"><i class="fa fa-inr"></i> {{ i.Product_Price|safe }}</a>
                           </div>
                        </div>
                     </div>
                  </div>
                  {% endfor %}
                  {% for i in detail %}
                     <div>
                     <div class="prod-box">
                        <div class="prod-i">
                           <img style="width:100%;height:150px;" src="{{ i.image|safe }}" alt="#" />
                        </div>
                        <div class="prod-dit clearfix">
                           <div class="dit-t clearfix">
                              <div class="left-ti">
                                 <h4>{{ i.Product_Name|safe }}</h4>
                                 <p><span>Catrgory :</span>{{ i.Product_Category|safe }}<br>
                                 <span>Quantity :</span>{{ i.Product_Quantity|safe }}</p>
                              </div>
                           </div>

                           <div class="dit-btn clearfix">
                              <a class="w3-button w3-blue w3-hover-black" style="width:100%;font-size:20px;border-radius:5px;"  href="/productdetails/?cname={{ i.Product_ID|safe }}"><i class="fa fa-inr"></i> {{ i.Product_Price|safe }}</a>
                           </div>
                        </div>
                     </div>
                  </div>
                  {% endfor %}



                  </div>
               </div>


            </div>
         </div>
      </div>

  <!--   
         <div class="container">
            <div class="row">
               <div class="col-md-6 col-sm-6 wow fadeIn" data-wow-delay="0.2s">
                  <div class="exciting_box f_pd">
                     <img src="{% static 'images/exciting_img-01.jpg' %}" class="icon-small" alt="" />
                     <h4>Explore <strong>exciting</strong> and exotic products
                        tailored to you.
                     </h4>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                        quis nostrud exercitation ullamco laboris..
                     </p>
                  </div>
               </div>
               <div class="col-md-6 col-sm-6 wow fadeIn" data-wow-delay="0.4s">
                  <div class="exciting_box l_pd">
                     <img src="{% static 'images/exciting_img-02.jpg' %}" class="icon-small" alt="" />
                     <h4><strong>List your products on</strong> printsathi and grow connections.</h4>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                        quis nostrud exercitation ullamco laboris..
                     </p>
                  </div>
               </div>
            </div>
         </div>
     --><!--
      <div class="start-free-box">
         <div class="container">
            <div class="row">
               <div class="container">
               {% for i in detail %}
               <div class="responsive">
                 <div class="gallery">
                  
                     <img src="{{ i.image|safe }}" alt="Forest" width="600" height="400">

                     <div class="prod-dit clearfix">
                           <div class="dit-t clearfix">
                              <div class="left-ti">
                                 <h4>{{ i.Product_Name|safe }}</h4>
                                 <p><span>Catrgory :</span>{{ i.Product_Category|safe }}<br>
                                 <span>Quantity :</span>{{ i.Product_Quantity|safe }}</p>
                              </div>
                           </div>
                     </div> 
                     
                      <a class="w3-button w3-blue w3-hover-black" style="width:100%;font-size:20px;border-radius:5px;"  href="/productdetails/?cname={{ i.Product_ID|safe }}">BUY  <i class="fa fa-inr"></i> {{ i.Product_Price|safe }}</a>
                     


                   
                   
                 </div>
               </div>
               {% endfor %}-->
              
               
<!--                  <div class="main-start-box">
                     <div class="free-box-a clearfix">
                        <div class="col-md-6 col-sm-6">
                           <div class="left-a-f">
                              <h3>A platform built for scale & expansion. Start for free.</h3>
                           </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                           <div class="right-a-f">
                              <p>Over the comming years, way thet business through the web
                                 works will change at agreat - and printsathi is the
                                 gamebreaker.
                              </p>
                           </div>
                        </div>
                     </div>-->
                  </div>
               </div>
            </div>
            <div class="row" >
               <div class="main-start-box">
                  <div class="bg_img_left"><img src="{% static 'images/bg_img1.png' %}" alt="#" /></div>
                  <div class="container">
                     <div class="buyer-box clearfix">
                        <div class="col-md-6 col-sm-6 wow fadeIn" data-wow-delay="0.2s">
                           <div class="left-buyer">
                              <img class="img-responsive" src="{% static 'images/costeffect.jpeg' %}" alt="#" />
                           </div>
                        </div>
                        <div class="col-md-6 col-sm-6 wow fadeIn" data-wow-delay="0.4s">
                           <div class="right-buyer">
                              <h4>buyer</h4>
                              <h2>Empower your factory<br>
                                 <span>With a new lead Channel</span>
                              </h2>
                              <p>Never worry about sales or income ftom outbound
                                 channels. with printsathi your store is directly
                                 connected to thousands of interested in your
                                 products.
                              </p>
                              <a href="/userregistration/">Create a buyer account</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row" style="margin-bottom:150px;">
               <div class="bg_img_right"><img src="{% static 'images/bg_img1.png' %}" alt="#" /></div>
               <div class="main-start-box">
                  <div class="container">
                     <div class="supplier clearfix">
                        <div class="col-md-5 col-sm-6">
                           <div class="left-supplier">
                              <h4>supplier</h4>
                              <h2>Grow your store <br><span>With a new sales channel</span></h2>
                              <p>Never worry about sales or income ftom outbound
                                 channels. with printsathi your store is directly
                                 connected to thousands of interested in your
                                 products.
                              </p>
                              .
                              <a href="/userregistration/">Create an account</a>
                           </div>
                        </div>
                        <div class="col-md-7 col-sm-6">
                           <div class="right-supplier">
                              <img class="img-responsive" src="{% static 'images/supplier-pc-img.png' %}" alt="#" />
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>



            <div class="row" style="margin-top:0px;">
               <div class="col-lg-8 col-lg-offset-2" align="center">
                     <h2>We are best at</h2>
                     
               </div>
               <div class="about-icons row" style="margin-bottom: -90px;">
                        <div class="col-xs-3 wow fadeIn" data-wow-delay="0.0s"><img src="{% static 'images/printclear.jpeg' %}" alt=""/></div>
                        <div class="col-xs-3 wow fadeIn" data-wow-delay="0.4s"><img src="{% static 'images/fast.jpeg' %}" alt=""/></div>
                        <div class="col-xs-3 wow fadeIn" data-wow-delay="0.2s"><img src="{% static 'images/costeffect.jpeg' %}" alt=""/></div>
                        
                        <div class="col-xs-3 wow fadeIn"  data-wow-delay="0.4s"><img src="{% static 'images/large.jpeg' %}" alt=""/></div>

               
               <div class="col-lg-8 col-lg-offset-2" align="center" style="margin-top:100px;">
                     <h2>Get Started</h2>
                     
               </div>
               <div class="about-icons row" style="margin-top:20px;">
                        <div class="col-xs-3 wow fadeIn" data-wow-delay="0.0s"><img src="{% static 'images/add.jpeg' %}" alt=""/></div>
                        <div class="col-xs-3 wow fadeIn" data-wow-delay="0.2s"><img src="{% static 'images/upload.jpeg' %}" alt=""/></div>
                        <div class="col-xs-3 wow fadeIn" data-wow-delay="0.4s"><img src="{% static 'images/tellus.jpeg' %}" alt=""/></div>
                        <div class="col-xs-3 wow fadeIn" data-wow-delay="0.4s"><img src="{% static 'images/alldone.jpeg' %}" alt=""/></div>

               </div>
            </div>



         </div>
      </div>
      
      <footer>
         <div class="main-footer">
            <div class="container">
               <div class="row">
                  <div class="footer-link-box clearfix">
                     <div class="col-md-6 col-sm-6">
                        <div class="left-f-box">
                           <div class="col-sm-4">
                              <h2>Reseller's Counter</h2>
                              <ul>
                                 <li><a href="/resellerregistration/">Join as Reseller</a></li>
                                 <li><a href="/resellerlogin/">Login</a></li>
                              </ul>
                           </div>
                           <div class="col-sm-4">
                              <h2>Products</h2>
                              <ul>
                                 <li><a href="/allproductpage/">All Products</a></li>
                                 <li><a href="/opencategory/?cname=Business Cards">Business Cards</a></li>
                                 <li><a href="/opencategory/?cname=Office Stationary">Office Stationary</a></li>
                                 <li><a href="/opencategory/?cname=Marketing Tool">Marketing Tool</a></li>
                                 <li><a href="/opencategory/?cname=Doctoor Tools">Doctoor Tools</a></li>
                                 <li><a href="/opencategory/?cname=Invitation Cards">Invitation Cards</a></li>
                                 <li><a href="/opencategory/?cname=Apparels/Gifts">Apparels/Gifts</a></li>
                              </ul>
                           </div>
                           <div class="col-sm-4">
                              <h2>Useful Links</h2>
                              <ul>
                                 <li><a href="#">FAQs</a></li>
                                 <li><a href="#">About Us</a></li>
                                 <li><a href="#">Contact Us</a></li>
                                 <li><a href="#">Terms & Conditions</a></li>
                                 <li><a href="#">Privacy Policy</a></li>
                                
                              </ul>
                           </div>>
                           
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6">
                        <div class="left-f-box">
                           <div class="col-sm-4">
                              <h2>Quick Links</h2>
                              <ul>
                                 <li><a href="#">1 Side Visiting Card Designs</a></li>
                                 <li><a href="#">2 Side Visiting Card Designs</a></li>
                                 <li><a href="#">Single sided business cards</a></li>
                                 <li><a href="#">Back to back business cards</a></li>
                                 <li><a href="#">Business card templates</a></li>
                                 <li><a href="#">Spot lamination visiting cards</a></li>
                                
                              </ul>
                           </div>
                           <div class="col-sm-4">
                              <h2>ABOUT US</h2>
                              <ul>
                                 <li><a href="/about/">about Printsathi</a></li>
                                 
                              </ul>
                           </div>
                           
                        </div>
                     </div>
                     
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="copyright">
            <div class="container">
               <div class="row">
                  <div class="col-md-8">
                     <p><img width="90" src="{% static 'images/logo.png' %}" alt="#" style="margin-top: -5px;" /> All Rights Reserved. <a href="http://funtouchit.com/"> Funtouch IT Solution © 2020</a></p>
                  </div>
                  <div class="col-md-4">
                     <ul class="list-inline socials">
                        <li>
                           <a href="">
                           <i class="fa fa-facebook" aria-hidden="true"></i>
                           </a>
                        </li>
                        <li>
                           <a href="">
                           <i class="fa fa-twitter" aria-hidden="true"></i>
                           </a>
                        </li>
                        <li>
                           <a href="">
                           <i class="fa fa-instagram" aria-hidden="true"></i>
                           </a>
                        </li>
                        <li>
                           <a href="#">
                           <i class="fa fa-linkedin" aria-hidden="true"></i>
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!--main js--> 
      <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script> 
      <!--bootstrap js--> 
      <script src="{% static 'js/bootstrap.min.js' %}"></script> 
      <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
      <script src="{% static 'js/slick.min.js' %}"></script> 
      <script src="{% static 'js/wow.min.js' %}"></script>
      
      <!--custom js--> 
      <script src="{% static 'js/custom.js' %}"></script>
      <style>
div.gallery {
  border: 1px solid #ccc;

}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: 200px;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
  height: 110px;
  margin-bottom:30vh; 
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
    margin-bottom:10vh;
    height: auto;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
    height: auto;
    margin-bottom:10vh;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
@media only screen and (max-width: 500px) {
.slider{
    width: 100%;
  }
}
</style>
    <script>
  $(document).ready(function(){
    setTimeout(function(){
      $('#popupmain').css('display','block');},50);

  });
</script>
   </body>
</html>