{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">

     
      <title>My Orders</title>

      <link rel="stylesheet" href="{% static 'w3.css' %}">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!--enable mobile device-->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!--fontawesome css-->
      <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
      <!--bootstrap css-->
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <!--animate css-->
      <link rel="stylesheet" href="{% static 'css/animate-wow.css' %}">
      <!--main css-->
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/slick.min.css' %}">
      <!--responsive css-->
      <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'w3.css' %}">
   </head>
   <body>
      <header id="header" class="top-head">
         <!-- Static navbar -->
         <nav class="navbar navbar-default">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-md-4 col-sm-12 left-rs">
                     <div class="navbar-header">
                        <button type="button" id="top-menu" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"> 
                        <span class="sr-only">Toggle navigation</span> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                        </button>
                        <a href="\index\" class="navbar-brand"><img src="{% static 'images/logo.png' %}" style="width:200px;" alt="" /></a>
                     </div>
                  </div>
                  <div class="col-md-8 col-sm-12">
                     <div class="right-nav">
                        
                        <div class="login-sr">
                           <div class="login-signup">
                              <ul>
                                 {% if session == checksession %}
                                    <li><a class="custom-b" href="/myuseraccount/">My Account</a></li>
                                 {% else %}
                                    <li><a href="/userlogin/">Login</a></li>
                                    <li><a class="custom-b" href="/userregistration/">Sign up</a></li>
                                 {% endif %}
                              </ul>
                           </div>
                        </div>

                        <div class="nav-b hidden-xs">
                           <div class="nav-box">
                              <ul>
                                 <li><a href="/index/">Home</a></li>
                                 <li><a href="/about/">About</a></li>
                                 <li><a data-toggle="modal" data-target="#myModal" href="#">Categories</li>
                              </ul>
                           </div>
                        </div>

                     </div>
                  </div>
               </div>
            </div>
            <!--/.container-fluid -->
         </nav>
      </header>

      <div class="modal fade lug" id="myModal" role="dialog">
         <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Choose from Wide Range of Categories</h4>
               </div>
               <div class="modal-body">
                  <ul>
                     <li class="w3-button w3-hover-blue" style="width:100%;font-size:15px;padding:10px;margin-bottom:10px;"><a href="/opencategory/?cname=Business Cards">Business Cards</a></li><br>
                     <li class="w3-button w3-hover-blue" style="width:100%;font-size:15px;padding:10px;margin-bottom:10px;"><a href="/opencategory/?cname=Office Stationary">Office Stationary</a></li><br>
                     <li class="w3-button w3-hover-blue" style="width:100%;font-size:15px;padding:10px;margin-bottom:10px;"><a href="/opencategory/?cname=Marketing Tool">Marketing Tool</a></li><br>
                     <li class="w3-button w3-hover-blue" style="width:100%;font-size:15px;padding:10px;margin-bottom:10px;"><a href="/opencategory/?cname=Marketing Tool">Doctoor Tools</a></li><br>
                     <li class="w3-button w3-hover-blue" style="width:100%;font-size:15px;padding:10px;margin-bottom:10px;"><a href="/opencategory/?cname=Invitation Cards">Invitation Cards</a></li><br>
                     <li class="w3-button w3-hover-blue" style="width:100%;font-size:15px;padding:10px;margin-bottom:10px;"><a href="/opencategory/?cname=Apparels/Gifts">Apparels/Gifts</a></li><br>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <!--/.mobile menu -->
      <div id="sidebar" class="top-nav">
         <ul id="sidebar-nav" class="sidebar-nav">
            <li><a href="/index/">Home</a></li>
            <li><a href="/about/">About</a></li>
            <li><a data-toggle="modal" data-target="#myModal" href="#">Categories</li>
         </ul>
      </div>
      <div class="terms-conditions">
         <div class="terms-title">
            <div class="container">
               <div class="row">
                  <ol class="breadcrumb">
                     
                     <li class="active">My Orders</li>
                  </ol>
               </div>
            </div>
         </div>
       <div class="container">
            <center><h1>My Orders</h1></center>      
                        <div class="panel-body">
                           <div class="tab-content">
                              <div class="tab-pane fade in active" id="tab1default">
                                 <div class="product-box-main row">
                                    
                                    <div class="col-md-4 col-sm-6">
                                       <div class="small-box-c">
                                          <div class="small-img-b">
                                             <img src="{% static 'images/tr1.png' %}" alt="#" />
                                          </div>
                                          <div class="dit-t clearfix">
                                             <div class="left-ti">
                                                <h4>Product</h4>
                                                <p>Under <span>Sofa Corner</span></p>
                                             </div>
                                             <a href="#" tabindex="0">$1220</a>
                                          </div>
                                          <div class="prod-btn">
                                             <a href="#" class="w3-button w3-blue w3-hover-blue" style="padding:10px;border-radius:15px;font-size:10px;"><i class="fa fa-eye"  aria-hidden="true"></i> View Product</a>
                                             <a href="#" class="w3-button w3-blue w3-hover-black" style="padding:10px;border-radius:15px;font-size:10px;"><i class="fa fa-info" aria-hidden="true"></i> Order Details</a>
                                             
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6" style="width:750px;">
                                       <table class="w3-table-all w3-hoverable" style="margin-top:20px;">
                                       <tr class="w3-black">
                                       <th>Paper ID</th>
                                       <th>Paper Name</th>
                                       <th>Delete Paper Type</th>
                                       </tr>
                                       {% for x in data %}
                                       <tr>
                                       <td>{{ x.Paper_ID|safe }}</td>
                                       <td>{{ x.Paper_Name|safe }}</td>
                                       <td>{% csrf_token %}
                                       <form action="/deletepapertype/" method="POST">
                                       <input type="hidden" name="delete" value="{{ x.Paper_ID|safe }}">
                                       <button type="submit" class="w3-button w3-red w3-hover-black" style="font-size:15px;border-radius:20px;">Delete</button>
                                    </form></td>
                                       </tr>
                                       {% endfor %}
                                       </table>
                                    </div>
                                    </div>
                                    </div>
                                    </div>
                                    </div>
                  
                                    </div>  
                                    </div>

<footer>
         <div class="main-footer">
            <div class="container">
               <div class="row">
                  <div class="footer-link-box clearfix">
                     <div class="col-md-6 col-sm-6">
                        <div class="left-f-box">
                           <div class="col-sm-4">
                              <h2>Reseller's Counter</h2>
                              <ul>
                                 <li><a href="/resellerregistration/">Join as Reseller</a></li>
                                 <li><a href="/resellerlogin/">Login</a></li>
                              </ul>
                           </div>
                           <div class="col-sm-4">
                              <h2>BUY ON chamb</h2>
                              <ul>
                                 <li><a href="#">Create account</a></li>
                                 <li><a href="#">How it works buyers</a></li>
                                 <li><a href="#">Categories</a></li>
                                 <li><a href="#">FAQ for buyers</a></li>
                              </ul>
                           </div>
                           <div class="col-sm-4">
                              <h2>COMPANY</h2>
                              <ul>
                                 <li><a href="about-us.html">About chamb</a></li>
                                 <li><a href="#">Contact us</a></li>
                                 <li><a href="#">Press</a></li>
                                 <li><a href="#">Careers</a></li>
                                 <li><a href="#">Terms of use</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6">
                        <div class="right-f-box">
                           <h2>INDUSTRIES</h2>
                           <ul class="col-sm-4">
                              <li><a href="#">Textiles</a></li>
                              <li><a href="#">Furniture</a></li>
                              <li><a href="#">Leather</a></li>
                              <li><a href="#">Agriculture</a></li>
                              <li><a href="#">Food & drinks</a></li>
                           </ul>
                           <ul class="col-sm-4">
                              <li><a href="#">Office</a></li>
                              <li><a href="#">Decoratives</a></li>
                              <li><a href="#">Electronics</a></li>
                              <li><a href="#">Machines</a></li>
                              <li><a href="#">Building</a></li>
                           </ul>
                           <ul class="col-sm-4">
                              <li><a href="#">Cosmetics</a></li>
                              <li><a href="#">Health</a></li>
                              <li><a href="#">Jewelry</a></li>
                              <li><a href="#">See all here</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="copyright">
            <div class="container">
               <div class="row">
                  <div class="col-md-8">
                     <p><img width="90" src="{% static 'images/logo.png' %}" alt="#" style="margin-top: -5px;" /> All Rights Reserved. <a href="http://funtouchit.com/"> Funtouch IT Solutions © 2020</a></p>
                  </div>
                  <div class="col-md-4">
                     <ul class="list-inline socials">
                        <li>
                           <a href="">
                           <i class="fa fa-facebook" aria-hidden="true"></i>
                           </a>
                        </li>
                        <li>
                           <a href="">
                           <i class="fa fa-twitter" aria-hidden="true"></i>
                           </a>
                        </li>
                        <li>
                           <a href="">
                           <i class="fa fa-instagram" aria-hidden="true"></i>
                           </a>
                        </li>
                        <li>
                           <a href="#">
                           <i class="fa fa-linkedin" aria-hidden="true"></i>
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </footer>

      <!--main js--> 
      <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script> 
      <!--bootstrap js--> 
      <script src="{% static 'js/bootstrap.min.js' %}"></script> 
      <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
      <script src="{% static 'js/slick.min.js' %}"></script> 
      <script src="{% static 'js/wow.min.js' %}"></script>
      <!--custom js--> 
      <script src="{% static 'js/custom.js' %}"></script>
   </body>
</html>