
{% extends 'header.html' %}
{% load static %}
      <style type="text/css">
      
         input[type=radio]:checked + img {
           border: 8px solid black;
           border-radius:10px;
           box-shadow:5px 5px 10px;
         }
         .tooltipcss{
            color:white;
            padding-top:5px;
            padding-bottom:5px;
            padding-left:10px;
            padding-right:10px;
            cursor:pointer;
            border-radius:50%;
            font-size:12px;
         }

      </style>
      <style>
.dropbtn {
  background-color: white;
  color: #636363;
  padding: 0px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: white}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: white;
}
</style>


{% block container %}

      <div class="modal fade lug" id="myModal" role="dialog">
         <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Choose from Wide Range of Categories</h4>
               </div>
               <div class="modal-body">
                  <ul>
                     <li class="w3-button w3-hover-blue" style="width:100%;font-size:15px;padding:10px;margin-bottom:10px;"><a href="/opencategory/?cname=Business Cards">Business Cards</a></li><br>
                     <li class="w3-button w3-hover-blue" style="width:100%;font-size:15px;padding:10px;margin-bottom:10px;"><a href="/opencategory/?cname=Office Stationary">Office Stationary</a></li><br>
                     <li class="w3-button w3-hover-blue" style="width:100%;font-size:15px;padding:10px;margin-bottom:10px;"><a href="/opencategory/?cname=Marketing Tool">Marketing Tool</a></li><br>
                     <li class="w3-button w3-hover-blue" style="width:100%;font-size:15px;padding:10px;margin-bottom:10px;"><a href="/opencategory/?cname=Marketing Tool">Doctoor Tools</a></li><br>
                     <li class="w3-button w3-hover-blue" style="width:100%;font-size:15px;padding:10px;margin-bottom:10px;"><a href="/opencategory/?cname=Invitation Cards">Invitation Cards</a></li><br>
                     <li class="w3-button w3-hover-blue" style="width:100%;font-size:15px;padding:10px;margin-bottom:10px;"><a href="/opencategory/?cname=Apparels/Gifts">Apparels/Gifts</a></li><br>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <!--/.mobile menu -->
       <!--/.mobile menu -->

      <div id="sidebar" class="top-nav">
      
         <ul id="sidebar-nav" class="sidebar-nav">
            <li><a href="/index/">Home</a></li>
                                 <li><a href="/gallerys/">Gallery</a></li>
                                 <li><a href="/allproductpage/">All Products</a></li>
                                 <li><a href="/opencategory/?cname=Business Cards">Business Card</a></li>
                                 <li><a href="/inquiryform/">Inquiry</a></li>



                                 {% if session == checksession  %}
                                    <li><a style="font-size:19px;padding-top:5px;padding-bottom:8px;" class="custom-b" href="/opencart/"><i class="fa fa-shopping-cart"></i> ({{ cartcount|safe }})</a></li>
                                    <li><a class="custom-b" href="/myuseraccount/">My Account</a></li>
                                    <li><a class="custom-b" href="/logout/">Logout</a></li>
                                  {% elif sessionre == checksessionre %}
                                    <li><a class="custom-b" href="/myuseraccount/">My Account</a></li>
                                    <li><a class="custom-b" href="/logout/">Logout</a></li>
                                 {% else %}
                                    
                                 


                                 <li >
                                   <h2 style="color:black;">Reseller</h2>
                                   
                                    <li><a   href="/resellerregistration/">Join as Reseller</a></li>
                                    <li>   <a href="/resellerlogin/">Login</a></li>
                                   
                                 </li>


                                 <li>
                                   <h2 style="color:black;">User</h2>
                                   
                                    <li><a href="/userlogin/">Login</a></li>
                                    <li><a class="custom-b" href="/userregistration/">Sign up</a></li>
                                
                                 </li>

                                 {% endif %}
         </ul>
      </div>
      
      <div class="terms-conditions">
       <div class="container" style="padding-top:30px;">
        <form action="/orderdatasave/" method="POST" enctype="multipart/form-data">
          <div class="col-md-6 col-sm-6">
            <div style="color:red;">
              {{message}}
            </div>
            <label>Note<span style="color: red">*</span>: Enter Details which will printed </label>
            
              <div class="form-group">
                <label for="exampleInputEmail1">Name </label>
                <input type="text" class="form-control" name="name" id="exampleInputEmail1" aria-describedby="emailHelp" required="
                ">
                  <small id="emailHelp" class="form-text text-muted"></small>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Enter Company Name </label>
                <input type="text" class="form-control" name="companyname" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <small id="emailHelp" class="form-text text-muted"></small>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">GSTN (optional)</label>
                <input type="text" class="form-control" name="gstn" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <small id="emailHelp" class="form-text text-muted"></small>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Mail ID</label>
                <input type="gmail" class="form-control" name="cgmail" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <small id="emailHelp" class="form-text text-muted"></small>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Website Link</label>
                <input type="gmail" class="form-control" name="web" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <small id="emailHelp" class="form-text text-muted"></small>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Phone Number 1</label>
                <input type="number" class="form-control" name="ph1" id="exampleInputEmail1" aria-describedby="emailHelp" required="">
                  <small id="emailHelp" class="form-text text-muted"></small>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Phone number 2</label>
                <input type="number" class="form-control" name="ph2" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <small id="emailHelp" class="form-text text-muted"></small>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Address </label>
                <textarea  type="textarea" rows="4" name="address" cols="50" class="form-control"  ></textarea>
                  <small id="emailHelp" class="form-text text-muted"></small>
              </div>
              <div class="form-group">
                  <label for="exampleFormControlTextarea1">Other Information</label>
                    <textarea class="form-control" name="other" id="exampleFormControlTextarea1" rows="5"></textarea>
              </div>

              
             <div class="form-group">
                <label for="exampleFormControlFile1">Upload Your logo</label>(optional)
                <input type="file" class="form-control-file" name="logo" id="exampleFormControlFile1">
            </div>

              <div class="form-group">
                  <label for="exampleFormControlTextarea1">OR</label>
                    
              </div>
             <div class="form-group">
                <label for="exampleFormControlFile1">Upload Your Design</label>
                <input type="file" class="form-control-file" name="filedata" id="exampleFormControlFile1">
            </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            
          </div>

          <div class="col-md-6 col-sm-6">
            <div class="container" style="">       
              <div class="responsive">
                <div class="gallery">
                {% for x in designs %}
                    <input class="w3-input" type="hidden" name="design"  value="{{ x.did }}" >
                    <img src="{{x.image }}"  name="design" alt="Forest" width="600" height="400">
                    <input type="hidden" name="pid" value="{{ x.pid }}">
                    <input type="hidden"  name="" value="{{x.product}}">
                      <input type="hidden"  name="sum" value="{{x.total}}">
                      <input type="hidden"  name="paper" value="{{x.paper}}">
                      <input type="hidden"  name="side" value="{{x.side}}">
                      <input type="hidden"  name="quantity" value="{{x.quantity}}">
                      <input type="hidden"  name="lamination" value="{{x.lamination}}">
                      <input type="hidden"  name="corner" value="{{x.corner}}">
                      <input type="hidden"  name="district" value="{{x.district}}">
                      <input type="hidden"  name="state" value="{{x.state}}">
                  {% endfor %}
                      <div class="prod-dit clearfix">
                        <div class="dit-t clearfix">
                            <div class="left-ti">
                              
                              <input type="hidden" name="uid" value="{{ uid|safe }}">

                               <br>
                        <!--         <p><span>Catrgory :</span>{{ i.Product_Category|safe }}<br>
                                 <span>Quantity :</span>{{ i.Product_Quantity|safe }}</p>-->
                            </div>
                        </div>
                      </div> 
            <!--   <a class="w3-button w3-blue w3-hover-black" style="width:100%;font-size:20px;border-radius:5px;"  href="/opencategory/?cname=Business Cards">BUY  </a> -->   
                </div>
              </div>
            </div>
            <label>Note<span style="color: red">*</span>: Delivary Address </label>

            
            
            <div class="boxed">
              <textarea rows="5" cols="80" name="add" required></textarea>
              
            </div>
            <br>
            <div>
          
        </div>
          </div>

     
      </form>
         

      </div>  
   </div>

   <style type="text/css">
     
     .boxed label {
  display: inline-block;
  width: 200px;
  padding: 10px;
  border: solid 2px #ccc;
  transition: all 0.3s;
}

.boxed input[type="radio"] {
  display: none;
}

.boxed input[type="radio"]:checked + label {
  border: solid 2px green;
}


   </style>


 {% endblock container %}



{% block footer %}

<script src="{% static 'js/custom.js' %}"></script>
{% endblock footer %}