{% extends 'header.html' %}
{% load static %}

      <style>
.dropbtn {
  background-color: white;
  color: #636363;
  padding: 0px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: white}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: white;
}
</style>
{% block container %}
      <div class="modal fade lug" id="myModal" role="dialog">
         <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Choose from Wide Range of Categories</h4>
               </div>
               <div class="modal-body">
                  <ul>
                     <li class="w3-button w3-hover-blue" style="width:100%;font-size:15px;padding:10px;margin-bottom:10px;"><a href="/opencategory/?cname=Business Cards">Business Cards</a></li><br>
                     <li class="w3-button w3-hover-blue" style="width:100%;font-size:15px;padding:10px;margin-bottom:10px;"><a href="/opencategory/?cname=Office Stationary">Office Stationary</a></li><br>
                     <li class="w3-button w3-hover-blue" style="width:100%;font-size:15px;padding:10px;margin-bottom:10px;"><a href="/opencategory/?cname=Marketing Tool">Marketing Tool</a></li><br>
                     <li class="w3-button w3-hover-blue" style="width:100%;font-size:15px;padding:10px;margin-bottom:10px;"><a href="/opencategory/?cname=Marketing Tool">Doctoor Tools</a></li><br>
                     <li class="w3-button w3-hover-blue" style="width:100%;font-size:15px;padding:10px;margin-bottom:10px;"><a href="/opencategory/?cname=Invitation Cards">Invitation Cards</a></li><br>
                     <li class="w3-button w3-hover-blue" style="width:100%;font-size:15px;padding:10px;margin-bottom:10px;"><a href="/opencategory/?cname=Apparels/Gifts">Apparels/Gifts</a></li><br>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <!--/.mobile menu -->
       <!--/.mobile menu -->

      <div id="sidebar" class="top-nav">
      
         <ul id="sidebar-nav" class="sidebar-nav">
            <li><a href="/index/">Home</a></li>
                                 <li><a href="/gallerys/">Gallery</a></li>
                                 <li><a href="/allproductpage/">All Products</a></li>
                                 <li><a href="/opencategory/?cname=Business Cards">Business Card</a></li>
                                 <li><a href="/inquiryform/">Inquiry</a></li>



                                 {% if session == checksession  %}
                                    <li><a style="font-size:19px;padding-top:5px;padding-bottom:8px;" class="custom-b" href="/opencart/"><i class="fa fa-shopping-cart"></i> ({{ cartcount|safe }})</a></li>
                                    <li><a class="custom-b" href="/myuseraccount/">My Account</a></li>
                                    <li><a class="custom-b" href="/logout/">Logout</a></li>
                                  {% elif sessionre == checksessionre %}
                                    <li><a class="custom-b" href="/myuseraccount/">My Account</a></li>
                                    <li><a class="custom-b" href="/logout/">Logout</a></li>
                                 {% else %}
                                    
                                 


                                 <li >
                                   <h2 style="color:black;">Reseller</h2>
                                   
                                    <li><a   href="/resellerregistration/">Join as Reseller</a></li>
                                    <li>   <a href="/resellerlogin/">Login</a></li>
                                   
                                 </li>


                                 <li>
                                   <h2 style="color:black;">User</h2>
                                   
                                    <li><a href="/userlogin/">Login</a></li>
                                    <li><a class="custom-b" href="/userregistration/">Sign up</a></li>
                                
                                 </li>

                                 {% endif %}
         </ul>
      </div>

      <div class="terms-conditions product-page">
         <div class="terms-title">
            <div class="container">
               <div class="row">
                  <ol class="breadcrumb">
                     <li><a href="/index/">Home</a></li>
                     <li class="active">{{ Product_Name|safe }}</li>
                  </ol>
               </div>
            </div>
         </div>
      </div>
      <div class="product-page-main">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="prod-page-title">
                     <h2>{{ Product_Name|safe }}</h2>
                     <p><span>{{ Product_Category|safe }}</span></p>
                  </div>

               </div>
            </div>
            <div class="row">
               <div class="col-md-2 col-sm-4">
                  <div class="left-profile-box-m prod-page" style="height: 1em;">
                     <div class="pro-img">
                        <img src="{{ coverimage|safe }}" alt="#" />
                     </div>
                     <div class="pof-text">
                        <h3>{{ Product_Name|safe }}</h3>
                        <div class="check-box"></div>
                        <h4>Price</h4>
                        <h3 style="font-size:20px;"><i class="fa fa-inr"></i> {{ Product_Price|safe }} <span>/-</span></h3>
                     </div>
                     <a class="w3-button w3-blue w3-hover-black" style="border-radius:5px;" href="/chooseproduct/?cid={{ Product_ID|safe }}">Select Design</a>

                  </div>
               </div>
               <div class="col-md-7 col-sm-8" style="width:80%;">
                  <div class="md-prod-page">
                     <div class="md-prod-page-in">
                        
                        <div class="page-preview">
                           <div class="preview">
                              <div class="preview-pic tab-content" style="">
                                 <div class="tab-pane active" id="{{ coverid|safe }}"><center><img src="{{ coverimage|safe }}" alt="#" style="width: 25em" /></center></div>
                                 {% for x in img %}
                                 <div class="tab-pane" id="{{ x.imgid|safe }}" ><center><img style="width: 25em" src="{{ x.image|safe }}" alt="#"  /></center></div>
                                 {% endfor %}
                              </div>
                              <ul class="preview-thumbnail nav nav-tabs">
                                 <li class="active" style="height: 100px; width: 93px;"><a style="width: 100px;" data-target="#{{ coverid|safe }}" data-toggle="tab"><center><img src="{{ coverimage|safe }}" alt="#" /></center>
                                 {% for x in img %}
                                 <li style="height: 100px; width: 100px;" ><a data-target="#{{ x.imgid|safe }}" data-toggle="tab"><img src="{{ x.image|safe }}" alt="#"  /></a></li>
                                 {% endfor %}
                              </ul>
                           </div>
                        </div>
                        </div>
                     </div>
                     <div class="description-box">
                        <ul class="w3-ul">
                          <li class="w3-hover-blue" style="font-size:18px;">Measurment : <strong>{{Product_Size}}</strong></li>
                          <li class="w3-hover-blue" style="font-size:18px;">Paper Type : <strong>{{ Product_Paper_Type|safe }}</strong></li>
                          <li class="w3-hover-blue" style="font-size:18px;">Thickness : <strong>{{ Product_Thickness|safe }} gsm</strong></li>
                          <li class="w3-hover-blue" style="font-size:18px;">Lamination : <strong>{{ Product_Lamination|safe }}</strong></li>
                          <li class="w3-hover-blue" style="font-size:18px;">Quantity : <strong>{{ Product_Quantity|safe }}</strong></li>
                          <li class="w3-hover-blue" style="font-size:18px;">Color : <strong>{{ Product_Color|safe }}</strong></li>
                          
                        </ul>
                     </div>
                  </div>
                  <div class="similar-box">
                     
                  </div>
               </div>
            </div>
         </div>
      </div>
{% endblock container %}



{% block footer %}
<script src="{% static 'js/custom.js' %}"></script>

{% endblock footer %}