{% extends 'header.html' %}
{% load static %}
      <style>
.dropbtn {
  background-color: white;
  color: #636363;
  padding: 0px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: white}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: white;
}
</style>
{% block container %}
      <!-- Modal -->
      
         
      

      <div class="terms-conditions">
         <div class="terms-title">
            <div class="container">
               <div class="row">
                  <ol class="breadcrumb">
                     
                     <li class="active">Admin Login</li>
                     <li>Reseller's Data</li>

                  </ol>
               </div>
            </div>
         </div>
       <div class="container">
         <div class="row">
            <div class="column" style="margin-top:20px;">
               <label style="margin-bottom:15px;font-size:20px;color:green;">Active Reseller List</label>
               <table class="w3-table-all w3-hoverable" style="margin-top:20px;">
                 <tr class="w3-black">
                   <th>ID</th>
                   <th>Name</th>
                   <th>Gender</th>
                   <th>Email</th>
                   <th>Phone</th>
                   <th>Address</th>
                   <th>City</th>
                   <th>State</th>
                   <th>GSTIN</th>
                   <th>PAN Number</th>
                   <th>Adhaar</th>
                   <th>Photo</th>
                   <th>Change Status</th>
                 </tr>
                 {% for x in adata %}
                 <tr>
                   <td>{{ x.Reseller_ID|safe }}</td>
                   <td>{{ x.Reseller_First_Name|safe }} {{ x.Reseller_Last_Name|safe }}</td>
                   <td>{{ x.Reseller_Gender|safe }}</td>
                   <td>{{ x.Reseller_Email|safe }}</td>
                   <td>{{ x.Reseller_Phone|safe }}</td>
                   <td>{{ x.Reseller_Address|safe }}</td>
                   <td>{{ x.Reseller_City|safe }}</td>
                   <td>{{ x.Reseller_State|safe }}</td>
                   <td>{{ x.Reseller_GSTIN|safe }}</td>
                   <td>{{ x.Reseller_PAN|safe }}</td>
                   <td><img style="width:500px;" src="{{ x.Adhaar.url|safe }}"></td>
                   <td><img style="width:200px;" src="{{ x.Profile.url|safe }}"></td>
                   <td>
                     <form action="/resellerdeactive/" method="POST">{% csrf_token %}
                       <input type="hidden" name="id" value="{{ x.Reseller_ID|safe }}">
                       <button type="submit" class="w3-button w3-red w3-hover-black" style="font-size:15px;border-radius:20px;">Deactive</button>
                     </form>
                  </td>
                 </tr>  
                 {% endfor %}
               </table>
            </div>
            <div class="column" style="margin-top:20px;">
               <label style="margin-bottom:15px;font-size:20px;color:green;">Deactive Reseller List</label>
               <table class="w3-table-all w3-hoverable" style="margin-top:20px;">
                 <tr class="w3-black">
                   <th>ID</th>
                   <th>Name</th>
                   <th>Gender</th>
                   <th>Email</th>
                   <th>Phone</th>
                   <th>Address</th>
                   <th>City</th>
                   <th>State</th>
                   <th>GSTIN</th>
                   <th>PAN Number</th>
                   <th>Adhaar</th>
                   <th>Photo</th>
                   <th>Change Status</th>
                 </tr>
                 {% for x in ddata %}
                 <tr>
                   <td>{{ x.Reseller_ID|safe }}</td>
                   <td>{{ x.Reseller_First_Name|safe }} {{ x.Reseller_Last_Name|safe }}</td>
                   <td>{{ x.Reseller_Gender|safe }}</td>
                   <td>{{ x.Reseller_Email|safe }}</td>
                   <td>{{ x.Reseller_Phone|safe }}</td>
                   <td>{{ x.Reseller_Address|safe }}</td>
                   <td>{{ x.Reseller_City|safe }}</td>
                   <td>{{ x.Reseller_State|safe }}</td>
                   <td>{{ x.Reseller_GSTIN|safe }}</td>
                   <td>{{ x.Reseller_PAN|safe }}</td>
                   <td><img style="width:500px;" src="{{ x.Adhaar.url|safe }}"></td>
                   <td><img style="width:200px;" src="{{ x.Profile.url|safe }}"></td>
                   <td>
                     <form action="/reselleractive/" method="POST">{% csrf_token %}
                       <input type="hidden" name="id" value="{{ x.Reseller_ID|safe }}">
                       <button type="submit" class="w3-button w3-green w3-hover-black" style="font-size:15px;border-radius:20px;">Active</button>
                     </form>
                  </td>
                 </tr>  
                 {% endfor %}
               </table>
            </div>
         </div>

      </div>  
      </div>
{% endblock container %}



{% block footer %}
<script src="{% static 'js/custom.js' %}"></script>

{% endblock footer %}