{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Printsathi - Reseller Registration</title>
      <link rel="stylesheet" href="{% static 'w3.css' %}">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!--enable mobile device-->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!--fontawesome css-->
      <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
      <!--bootstrap css-->
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <!--animate css-->
      <link rel="stylesheet" href="{% static 'css/animate-wow.css' %}">
      <!--main css-->
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/slick.min.css' %}">
      <!--responsive css-->
      <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
   </head>
   <body>
      <header id="header" class="top-head">
         <!-- Static navbar -->
         <nav class="navbar navbar-default">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-md-4 col-sm-12 left-rs">
                     <div class="navbar-header">
                        <button type="button" id="top-menu" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"> 
                        <span class="sr-only">Toggle navigation</span> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                        </button>
                        <a href="\index\" class="navbar-brand"><img src="{% static 'images/logo.png' %}" style="width:200px;" alt="" /></a>
                     </div>
                  </div>
                  <div class="col-md-8 col-sm-12">
                     <div class="right-nav">
                        
                        <div class="login-sr">
                           <div class="login-signup">
                              <ul>
                                
                              </ul>
                           </div>
                        </div>

                        <div class="nav-b hidden-xs">
                           <div class="nav-box">
                              <ul>
                                 <li><a href="/index/">Home</a></li>
                                 <li><a href="/about/">About</a></li>
                                 <li><a data-toggle="modal" data-target="#myModal" href="#">Categories</a></li>
                                 
                                 <li><a href="/userlogin/">Login</a></li>
                                 <li><a class="custom-b" href="/userregistration/">Sign up</a></li>
                              
                              </ul>
                           </div>
                        </div>

                     </div>
                  </div>
               </div>
            </div>
            <!--/.container-fluid -->
         </nav>
      </header>
      <div class="modal fade lug" id="myModal" role="dialog">
         <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Choose from Wide Range of Categories</h4>
               </div>
               <div class="modal-body">
                  <ul>
                     <li class="w3-button w3-hover-blue" style="width:100%;font-size:15px;padding:10px;margin-bottom:10px;"><a href="/opencategory/?cname=Business Cards">Business Cards</a></li><br>
                     <li class="w3-button w3-hover-blue" style="width:100%;font-size:15px;padding:10px;margin-bottom:10px;"><a href="/opencategory/?cname=Office Stationary">Office Stationary</a></li><br>
                     <li class="w3-button w3-hover-blue" style="width:100%;font-size:15px;padding:10px;margin-bottom:10px;"><a href="/opencategory/?cname=Marketing Tool">Marketing Tool</a></li><br>
                     <li class="w3-button w3-hover-blue" style="width:100%;font-size:15px;padding:10px;margin-bottom:10px;"><a href="/opencategory/?cname=Marketing Tool">Doctoor Tools</a></li><br>
                     <li class="w3-button w3-hover-blue" style="width:100%;font-size:15px;padding:10px;margin-bottom:10px;"><a href="/opencategory/?cname=Invitation Cards">Invitation Cards</a></li><br>
                     <li class="w3-button w3-hover-blue" style="width:100%;font-size:15px;padding:10px;margin-bottom:10px;"><a href="/opencategory/?cname=Apparels/Gifts">Apparels/Gifts</a></li><br>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <!--/.mobile menu -->
      <div id="sidebar" class="top-nav">
         <ul id="sidebar-nav" class="sidebar-nav">
            <li><a href="/index/">Home</a></li>
            <li><a href="/about/">About</a></li>
            <li><a data-toggle="modal" data-target="#myModal" href="#">Categories</a></li>
         
            <li><a href="/userlogin/">Login</a></li>
            <li><a class="custom-b" href="/userregistration/">Sign up</a></li>
     
         </ul>
      </div>
      <div class="terms-conditions" style="padding-top:50px;paadding-right:0px;padding-left:0px;background-size:100% auto;background-image: url({% static 'images/39e8e6ebcec0d5a42b5998857571fbde.jpg' %})">
        <div style="padding-right:0px;padding-left:0px;"class="container text-center">
            <div class="w3-card-4" style="width:70%;border-radius:20px;margin-top:50px;background-color:white;margin:auto;">

            <div class="w3-container w3-blue" style="padding-top:10px;padding-bottom:10px;border-radius:20px;">
            <h2>Reseller Registration</h2>
            </div>
               <label style="margin-bottom:15px;color:green;font-size:18px;margin-top:20px;margin-left:20px;">Required Fields Marked With *</label><br>

               <form class="w3-container" action="/savereseller/" method="POST" style="margin-top:20px;margin-bottom:20px;" enctype="multipart/form-data">{% csrf_token %}
                  <label style="margin-bottom:15px;color:green;font-size:15px;">{{ msg|safe }}</label><br>

                  <label style="margin-bottom:15px;color:green;font-size:15px;">{{ msg1|safe }}</label>


                  <input class="w3-input" type="text" name="First Name" style="margin-bottom:20px;" placeholder="First Name*" required>
                  
                  <input class="w3-input" type="text" name="Last Name" style="margin-bottom:20px;" placeholder="Last Name*" required>

                  <select class="w3-input" name="Gender" style="margin-bottom:20px;" required>
                     <option required="required" disabled="disabled" selected="selected">Gender*</option>
                     <option value="Male" selected="selected" >Male</option>
                     <option value="Female">Female</option>
                  </select>

                  
                  <input class="w3-input" type="Number" name="Phone Number" style="margin-bottom:20px;" placeholder="Phone Number*" required>

                  <input class="w3-input" type="email" name="Email" style="margin-bottom:20px;" placeholder="Email*" required>

                  <textarea class="w3-input" type="text" name="Address" style="margin-bottom:20px;" placeholder="Address*" required></textarea>
                  
                  <input class="w3-input" type="text" name="City" style="margin-bottom:20px;" placeholder="City*" required>

                  <input class="w3-input" type="number" name="Pincode" style="margin-bottom:20px;" placeholder="Pincode*" required>

                  <input class="w3-input" type="number" name="establish" style="margin-bottom:20px;" placeholder="Establish Year*" >

                  <input class="w3-input" type="text" name="State" style="margin-bottom:20px;" placeholder="State*" required>

                  <input class="w3-input" type="text" name="GSTIN" style="margin-bottom:20px;" placeholder="GSTIN*" required>

                  <input class="w3-input" type="text" name="PAN" style="margin-bottom:20px;" placeholder="PAN Number*" required>

                  <label>Adhaar Upload*</label>
                  <input style="margin-bottom:20px;border-radius:10px;" class="w3-input w3-border-0" type="file" name="adhaar" accept="image/*" required id="id_image">

                  <label>Profile Photo Upload*</label>
                  <input style="margin-bottom:20px;border-radius:10px;" class="w3-input w3-border-0" type="file" name="profile" accept="image/*" required id="id_image">

                  <div class="g-recaptcha" data-sitekey="6LdMv_wUAAAAAPF30NyWnOYImcVVAqN72aBCZFuw"></div>

                  <input type="submit" value="Register" class="w3-button w3-red w3-hover-black" style="font-size:20px;border-radius:20px;margin-bottom:20px; margin-top:5px;">


               </form>

            </div>
         
      </div>  
   </div>

      <footer>
         <div class="main-footer">
            <div class="container">
               <div class="row">
                  <div class="footer-link-box clearfix">
                     <div class="col-md-6 col-sm-6">
                        <div class="left-f-box">
                           <div class="col-sm-4">
                              <h2>Reseller's Counter</h2>
                              <ul>
                                 <li><a href="/resellerregistration/">Join as Reseller</a></li>
                                 <li><a href="/resellerlogin/">Login</a></li>
                              </ul>
                           </div>
                           <div class="col-sm-4">
                              <h2>BUY ON Printsathi</h2>
                              <ul>
                                 <li><a href="/userregistration/">Create account</a></li>
                                 <li><a href="/userlogin/">Login</a></li>
                              </ul>
                           </div>
                           <div class="col-sm-4">
                              <h2>Categories</h2>
                              <ul>
                                 <li><a href="/opencategory/?cname=Business Cards">Business Cards</a></li>
                                 <li><a href="/opencategory/?cname=Office Stationary">Office Stationary</a></li>
                                 <li><a href="/opencategory/?cname=Marketing Tool">Marketing Tool</a></li>
                                 <li><a href="/opencategory/?cname=Doctoor Tools">Doctoor Tools</a></li>
                                 <li><a href="/opencategory/?cname=Invitation Cards">Invitation Cards</a></li>
                                 <li><a href="/opencategory/?cname=Apparels/Gifts">Apparels/Gifts</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6">
                        <div class="left-f-box">
                           <div class="col-sm-4">
                              <h2>CONTACT Us</h2>
                              <ul>
                                 <li><a href="#">Contact</a></li>
                                
                              </ul>
                           </div>
                           <div class="col-sm-4">
                              <h2>ABOUT US</h2>
                              <ul>
                                 <li><a href="/about/">about Printsathi</a></li>
                                 
                              </ul>
                           </div>
                           
                        </div>
                     </div>
                     
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="copyright">
            <div class="container">
               <div class="row">
                  <div class="col-md-8">
                     <p><img width="90" src="{% static 'images/logo.png' %}" alt="#" style="margin-top: -5px;" /> All Rights Reserved. <a href="http://funtouchit.com/"> Funtouch IT Solution © 2020</a></p>
                  </div>
                  <div class="col-md-4">
                     <ul class="list-inline socials">
                        <li>
                           <a href="">
                           <i class="fa fa-facebook" aria-hidden="true"></i>
                           </a>
                        </li>
                        <li>
                           <a href="">
                           <i class="fa fa-twitter" aria-hidden="true"></i>
                           </a>
                        </li>
                        <li>
                           <a href="">
                           <i class="fa fa-instagram" aria-hidden="true"></i>
                           </a>
                        </li>
                        <li>
                           <a href="#">
                           <i class="fa fa-linkedin" aria-hidden="true"></i>
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </footer>

      <!--main js--> 
      <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script> 
      <!--bootstrap js--> 
      <script src="{% static 'js/bootstrap.min.js' %}"></script> 
      <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
      <script src="{% static 'js/slick.min.js' %}"></script> 
      <script src="{% static 'js/wow.min.js' %}"></script>
      <!--custom js--> 
      <script src="{% static 'js/custom.js' %}"></script>
      <script src='https://www.google.com/recaptcha/api.js'></script>
   </body>
</html>