
{% extends 'header.html' %}
{% load static %}
      {% block container %}
      <div class="modal fade lug" id="myModal" role="dialog">
         <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Choose from Wide Range of Categories</h4>
               </div>
               <div class="modal-body">
                  <ul>
                     <li class="w3-button w3-hover-blue" style="width:100%;font-size:15px;padding:10px;margin-bottom:10px;"><a href="/opencategory/?cname=Business Cards">Business Cards</a></li><br>
                     <li class="w3-button w3-hover-blue" style="width:100%;font-size:15px;padding:10px;margin-bottom:10px;"><a href="/opencategory/?cname=Office Stationary">Office Stationary</a></li><br>
                     <li class="w3-button w3-hover-blue" style="width:100%;font-size:15px;padding:10px;margin-bottom:10px;"><a href="/opencategory/?cname=Marketing Tool">Marketing Tool</a></li><br>
                     <li class="w3-button w3-hover-blue" style="width:100%;font-size:15px;padding:10px;margin-bottom:10px;"><a href="/opencategory/?cname=Marketing Tool">Doctoor Tools</a></li><br>
                     <li class="w3-button w3-hover-blue" style="width:100%;font-size:15px;padding:10px;margin-bottom:10px;"><a href="/opencategory/?cname=Invitation Cards">Invitation Cards</a></li><br>
                     <li class="w3-button w3-hover-blue" style="width:100%;font-size:15px;padding:10px;margin-bottom:10px;"><a href="/opencategory/?cname=Apparels/Gifts">Apparels/Gifts</a></li><br>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <!--/.mobile menu -->
       <!--/.mobile menu -->

      <div id="sidebar" class="top-nav">
      
         <ul id="sidebar-nav" class="sidebar-nav">
            <li><a href="/index/">Home</a></li>
                                 <li><a href="/gallerys/">Gallery</a></li>
                                 <li><a href="/allproductpage/">All Products</a></li>
                                 <li><a href="/opencategory/?cname=Business Cards">Business Card</a></li>
                                 <li><a href="/inquiryform/">Inquiry</a></li>



                                 {% if session == checksession  %}
                                    <li><a style="font-size:19px;padding-top:5px;padding-bottom:8px;" class="custom-b" href="/opencart/"><i class="fa fa-shopping-cart"></i> ({{ cartcount|safe }})</a></li>
                                    <li><a class="custom-b" href="/myuseraccount/">My Account</a></li>
                                    <li><a class="custom-b" href="/logout/">Logout</a></li>
                                  {% elif sessionre == checksessionre %}
                                    <li><a class="custom-b" href="/myuseraccount/">My Account</a></li>
                                    <li><a class="custom-b" href="/logout/">Logout</a></li>
                                 {% else %}
                                    
                                 


                                 <li >
                                   <h2 style="color:black;">Reseller</h2>
                                   
                                    <li><a   href="/resellerregistration/">Join as Reseller</a></li>
                                    <li>   <a href="/resellerlogin/">Login</a></li>
                                   
                                 </li>


                                 <li>
                                   <h2 style="color:black;">User</h2>
                                   
                                    <li><a href="/userlogin/">Login</a></li>
                                    <li><a class="custom-b" href="/userregistration/">Sign up</a></li>
                                
                                 </li>

                                 {% endif %}
         </ul>
      </div>
      <div class="terms-conditions" style="padding-top:50px;paadding-right:0px;padding-left:0px;background-size:100% auto;background-image: url({% static 'images/39e8e6ebcec0d5a42b5998857571fbde.jpg' %})">
        <div style="padding-right:0px;padding-left:0px;"class="container text-center">
            <div class="w3-card-4" style="width:70%;border-radius:20px;margin-top:50px;background-color:white;margin:auto;">

            <div class="w3-container w3-blue" style="padding-top:10px;padding-bottom:10px;border-radius:20px;">
            <h2>Reseller Registration</h2>
            </div>
               <label style="margin-bottom:15px;color:green;font-size:18px;margin-top:20px;margin-left:20px;">Required Fields Marked With *</label><br>

               <form class="w3-container" action="/savereseller/" method="POST" style="margin-top:20px;margin-bottom:20px;" enctype="multipart/form-data"  onSubmit = "return checkPassword(this)">{% csrf_token %}
                  <label style="margin-bottom:15px;color:green;font-size:15px;">{{ msg|safe }}</label><br>

                  <label style="margin-bottom:15px;color:green;font-size:15px;">{{ msg1|safe }}</label>


                  <input class="w3-input" type="text" name="First Name" style="margin-bottom:20px;" placeholder="First Name*" required>
                  
                  <input class="w3-input" type="text" name="Last Name" style="margin-bottom:20px;" placeholder="Last Name*" required>

                  <select class="w3-input" name="Gender" style="margin-bottom:20px;" required>
                     <option required="required" disabled="disabled" selected="selected">Gender*</option>
                     <option value="Male" selected="selected" >Male</option>
                     <option value="Female">Female</option>
                  </select>

                  
                  <input class="w3-input" type="Number" name="Phone Number" style="margin-bottom:20px;" placeholder="Phone Number*" required>

                  <input class="w3-input" type="email" name="Email" style="margin-bottom:20px;" placeholder="Email*" required>

                  <textarea class="w3-input" type="text" name="Address" style="margin-bottom:20px;" placeholder="Address*" required></textarea>
                  
                  <input class="w3-input" type="text" name="City" style="margin-bottom:20px;" placeholder="City*" required>

                  <input class="w3-input" type="number" name="Pincode" style="margin-bottom:20px;" placeholder="Pincode*" required>

                  <input class="w3-input" type="number" name="establish" style="margin-bottom:20px;" placeholder="Establish Year*" >

                  <input class="w3-input" type="text" name="State" style="margin-bottom:20px;" placeholder="State*" required>

                  <input class="w3-input" type="text" name="GSTIN" style="margin-bottom:20px;" placeholder="GSTIN*" required>

                  <input class="w3-input" type="text" name="PAN" style="margin-bottom:20px;" placeholder="PAN Number*" required>

                  <label>Adhaar Upload*</label>
                  <input style="margin-bottom:20px;border-radius:10px;" class="w3-input w3-border-0" type="file" name="adhaar" accept="image/*" required id="id_image">

                  <label>Profile Photo Upload*</label>
                  <input style="margin-bottom:20px;border-radius:10px;" class="w3-input w3-border-0" type="file" name="profile" accept="image/*" required id="id_image">

                  <input class="w3-input" type="password" name="pass1" style="margin-bottom:20px;" placeholder="Create Password*" required>

                  <input class="w3-input" type="password" name="pass2" style="margin-bottom:20px;" placeholder="Confirm Password*" required>
                  <br>
                  <div align="left">
                    <input type="checkbox" name="check" style="opacity:1; margin-left:1vw; left:0px; position: relative;" required="" value="accepted">
                        &nbsp<a href=""> Term and Conditions</a>
                  </div>
                  <br>
                  <div class="g-recaptcha" data-sitekey="6LdMv_wUAAAAAPF30NyWnOYImcVVAqN72aBCZFuw"></div>
                  

                  <input type="submit" value="Register" class="w3-button w3-red w3-hover-black" style="font-size:20px;border-radius:20px;margin-bottom:20px; margin-top:5px;">


               </form>

            </div>
         
      </div>  
   </div>

{% endblock container %}



{% block footer %}

<script src="{% static 'js/custom.js' %}"></script>
<script> 
          
    // Function to check Whether both passwords 
    // is same or not. 
    function checkPassword(form) { 
        password1 = form.pass1.value; 
        password2 = form.pass2.value; 

        // If password not entered 
        if (password1 == '') 
            alert ("Please enter Password"); 
              
        // If confirm password not entered 
        else if (password2 == '') 
            alert ("Please enter confirm password"); 
              
        // If Not same return False.     
        else if (password1 != password2) { 
            alert ("\nPassword did not match: Please try again...") 
            return false; 
        } 

        // If same return True. 
        else{ 
             
            return true; 
        } 
    } 
</script>

{% endblock footer %}