{% extends 'header.html' %}
{% load static %}
      <style>
.dropbtn {
  background-color: white;
  color: #636363;
  padding: 0px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: white}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: white;
}
</style>
{% block container %}
      <div class="modal fade lug" id="myModal" role="dialog">
         <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Choose from Wide Range of Categories</h4>
               </div>
               <div class="modal-body">
                  <ul>
                     <li class="w3-button w3-hover-blue" style="width:100%;font-size:15px;padding:10px;margin-bottom:10px;"><a href="/opencategory/?cname=Business Cards">Business Cards</a></li><br>
                     <li class="w3-button w3-hover-blue" style="width:100%;font-size:15px;padding:10px;margin-bottom:10px;"><a href="/opencategory/?cname=Office Stationary">Office Stationary</a></li><br>
                     <li class="w3-button w3-hover-blue" style="width:100%;font-size:15px;padding:10px;margin-bottom:10px;"><a href="/opencategory/?cname=Marketing Tool">Marketing Tool</a></li><br>
                     <li class="w3-button w3-hover-blue" style="width:100%;font-size:15px;padding:10px;margin-bottom:10px;"><a href="/opencategory/?cname=Marketing Tool">Doctoor Tools</a></li><br>
                     <li class="w3-button w3-hover-blue" style="width:100%;font-size:15px;padding:10px;margin-bottom:10px;"><a href="/opencategory/?cname=Invitation Cards">Invitation Cards</a></li><br>
                     <li class="w3-button w3-hover-blue" style="width:100%;font-size:15px;padding:10px;margin-bottom:10px;"><a href="/opencategory/?cname=Apparels/Gifts">Apparels/Gifts</a></li><br>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <!--/.mobile menu -->
       <!--/.mobile menu -->

      <div id="sidebar" class="top-nav">
      
         <ul id="sidebar-nav" class="sidebar-nav">
            <li><a href="/index/">Home</a></li>
                                 <li><a href="/gallerys/">Gallery</a></li>
                                 <li><a href="/allproductpage/">All Products</a></li>
                                 <li><a href="/opencategory/?cname=Business Cards">Business Card</a></li>
                                 <li><a href="/inquiryform/">Inquiry</a></li>



                                 {% if session == checksession  %}
                                    <li><a style="font-size:19px;padding-top:5px;padding-bottom:8px;" class="custom-b" href="/opencart/"><i class="fa fa-shopping-cart"></i> ({{ cartcount|safe }})</a></li>
                                    <li><a class="custom-b" href="/myuseraccount/">My Account</a></li>
                                    <li><a class="custom-b" href="/logout/">Logout</a></li>
                                  {% elif sessionre == checksessionre %}
                                    <li><a class="custom-b" href="/myuseraccount/">My Account</a></li>
                                    <li><a class="custom-b" href="/logout/">Logout</a></li>
                                 {% else %}
                                    
                                 


                                 <li >
                                   <h2 style="color:black;">Reseller</h2>
                                   
                                    <li><a   href="/resellerregistration/">Join as Reseller</a></li>
                                    <li>   <a href="/resellerlogin/">Login</a></li>
                                   
                                 </li>


                                 <li>
                                   <h2 style="color:black;">User</h2>
                                   
                                    <li><a href="/userlogin/">Login</a></li>
                                    <li><a class="custom-b" href="/userregistration/">Sign up</a></li>
                                
                                 </li>

                                 {% endif %}
         </ul>
      </div>

      <div class="terms-conditions" style="padding-top:50px;paadding-right:0px;padding-left:0px;background-size:100% auto;background-image: url({% static 'images/39e8e6ebcec0d5a42b5998857571fbde.jpg' %})">

       <div style="padding-right:0px;padding-left:0px;"class="container text-center">
         <div class="w3-card-4" style="width:70%;border-radius:20px;background-color:white;margin:auto;">

            <div class="w3-container w3-blue" style="padding-top:10px;padding-bottom:10px;border-radius:20px;">
            <h2>User Registration</h2>
            </div>

               <form class="w3-container" action="/saveuser/" method="POST" style="margin-top:20px;margin-bottom:20px;" onSubmit = "return checkPassword(this)">
                  
                  <label style="margin-bottom:15px;color:green;font-size:18px;">Required Fields Marked With *</label><br>

                  <label style="margin-bottom:15px;color:green;font-size:15px;">{{ msg|safe }}</label><br>

                  <label style="margin-bottom:15px;color:green;font-size:15px;">{{ msg1|safe }}</label>
                  
                  <input class="w3-input" type="text" name="First Name" style="margin-bottom:20px;" placeholder="First Name*" required>
                  
                  <input class="w3-input" type="text" name="Last Name" style="margin-bottom:20px;" placeholder="Last Name*" required>

                  <select class="w3-input" name="Gender" style="margin-bottom:20px;" required>
                     <option  disabled="disabled"   required >Gender*</option>
                     <option required="required" selected="selected" value="Male">Male</option>
                     <option value="Female">Female</option>
                  </select>

                  <input class="w3-input" type="Email" name="Email" style="margin-bottom:20px;" placeholder="Email*" required>
                  
                  <input class="w3-input" type="Number" name="Phone Number" style="margin-bottom:20px;" placeholder="Phone Number*" required>
                  
                  <textarea class="w3-input" type="text" name="Address" style="margin-bottom:20px;" placeholder="Address*" required></textarea>
                  
                  <input class="w3-input" type="text" name="City" style="margin-bottom:20px;" placeholder="City*" required>

                  <input class="w3-input" type="text" name="State" style="margin-bottom:20px;" placeholder="State*" required>

                  <input class="w3-input" type="password" name="pass1" style="margin-bottom:20px;" placeholder="Create Password*" required>

                  <input class="w3-input" type="password" name="pass2" style="margin-bottom:20px;" placeholder="Confirm Password*" required>

                  <br>
                  <div align="left">
                    <input type="checkbox" name="check" style="opacity:1; margin-left:1vw; left:0px; position: relative;" required="" value="accepted">
                        &nbsp<a href=""> Term and Conditions</a>
                  </div>
                  <br>

                  <div class="g-recaptcha" data-sitekey="6LdMv_wUAAAAAPF30NyWnOYImcVVAqN72aBCZFuw"></div>

                  <input type="submit" value="Register" class="w3-button w3-blue w3-hover-black" style="font-size:20px;border-radius:20px;margin-bottom:20px; margin-top:5px;">

               </form>

            </div>
         
      </div>  
   </div>

{% endblock container %}



{% block footer %}
<script src='https://www.google.com/recaptcha/api.js'></script>
<script> 
          
    // Function to check Whether both passwords 
    // is same or not. 
    function checkPassword(form) { 
        password1 = form.pass1.value; 
        password2 = form.pass2.value; 

        // If password not entered 
        if (password1 == '') 
            alert ("Please enter Password"); 
              
        // If confirm password not entered 
        else if (password2 == '') 
            alert ("Please enter confirm password"); 
              
        // If Not same return False.     
        else if (password1 != password2) { 
            alert ("\nPassword did not match: Please try again...") 
            return false; 
        } 

        // If same return True. 
        else{ 
             
            return true; 
        } 
    } 
</script> 
<script src="{% static 'js/custom.js' %}"></script>
{% endblock footer %}